<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiubao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{571,1},{42,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiubao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{368,1},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{424,1},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{177,1},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{125,1},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{476,1},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiubao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{227,1},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiubao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{274,1},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiubao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{321,1},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiubao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,47}</string>
                <key>textureRect</key>
                <string>{{526,1},{44,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ball_hit.png</string>
            <key>size</key>
            <string>{609,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2194ce282e5d0bc69203ffcde16fce7:29413844f581e85f8ade318b253b20c8:05799fb49e44acec8654e64bfa2ddbcc$</string>
            <key>textureFileName</key>
            <string>ball_hit.png</string>
        </dict>
    </dict>
</plist>
