<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianpao_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{175,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{349,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{523,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{697,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{871,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{1045,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{1219,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao_hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,167}</string>
                <key>spriteSourceSize</key>
                <string>{172,167}</string>
                <key>textureRect</key>
                <string>{{1393,1},{172,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bianpao_hit.png</string>
            <key>size</key>
            <string>{1566,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca4667151226010c0b80c39c7618e66f:76f35089e4f9ad6ae4c866dbcbd142be:5352d2b6f63e3395504bd7fa7478f363$</string>
            <key>textureFileName</key>
            <string>bianpao_hit.png</string>
        </dict>
    </dict>
</plist>
