<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feidao_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{93,163},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{178,79}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{1,82},{178,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,79}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,79}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{189,1},{184,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{158,73}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{181,82},{158,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{146,69}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{181,157},{146,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{138,63}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{341,82},{138,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feidao_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,5}</string>
                <key>spriteSize</key>
                <string>{90,55}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{1,163},{90,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feidao_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,3}</string>
                <key>spriteSize</key>
                <string>{78,47}</string>
                <key>spriteSourceSize</key>
                <string>{186,79}</string>
                <key>textureRect</key>
                <string>{{375,1},{78,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flyKnife_hit.png</string>
            <key>size</key>
            <string>{423,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09228ea4a52a8febb5c1e18eb934776a:763154ec76ffcdc581493048109f6044:aea79dcfbaee5b21a2b7fcef4fdd6f5b$</string>
            <key>textureFileName</key>
            <string>flyKnife_hit.png</string>
        </dict>
    </dict>
</plist>
