<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daodan_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{148,1},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,111}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{140,322},{121,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daodan_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,127}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{1,136},{137,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{137,127}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{1,265},{137,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{140,185},{135,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daodan_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{93,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{148,96},{93,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{1,394},{91,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{89,75}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{94,445},{89,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{1,475},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{185,445},{73,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daodan_hit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{185,520},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daodan_hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{82,522},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gongchengshiDaodan.png</string>
            <key>size</key>
            <string>{256,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e647181dc4d8fee8efd893efb882f264:9ab9c6de54b4bbfb48d1e3989a1f5e50:fe33cd13fc4a7a05a13a649337d833b0$</string>
            <key>textureFileName</key>
            <string>gongchengshiDaodan.png</string>
        </dict>
    </dict>
</plist>
