<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liemo_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{63,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{125,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liemo_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,22}</string>
                <key>textureRect</key>
                <string>{{187,1},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gong2_hit.png</string>
            <key>size</key>
            <string>{248,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252da05e35038fdf88e26ad265146e98:fefc3c4ff89d2110906c23eea92ac595:bf9c97ae95e342e1cea24cb1e994a201$</string>
            <key>textureFileName</key>
            <string>gong2_hit.png</string>
        </dict>
    </dict>
</plist>
