<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gutou_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{162,1},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{323,1},{159,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gutou_hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{1,151},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_hit_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{162,151},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_hit_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{323,162},{159,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gutou_hit_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{1,301},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_hit_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{162,301},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gutou_hit.png</string>
            <key>size</key>
            <string>{472,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4372f09faf8ff38ed5c343cf3926a4:52ee8560a8aef1253f5681a9f736668e:6b6bf459c5ac7a5187461629c5d60141$</string>
            <key>textureFileName</key>
            <string>gutou_hit.png</string>
        </dict>
    </dict>
</plist>
