<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kandao_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kandao_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kandao_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{277,1},{136,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kandao_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{415,1},{136,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kandao_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{553,1},{136,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kandao_hit.png</string>
            <key>size</key>
            <string>{690,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a80cc4c903fd8e8bc148f48caa81701:ec979c63964111c59103f17eaacd37ed:705591ea218cc77066d3e86c2b5582ec$</string>
            <key>textureFileName</key>
            <string>kandao_hit.png</string>
        </dict>
    </dict>
</plist>
