<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miaosha_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,33}</string>
                <key>spriteSize</key>
                <string>{25,15}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{48,965},{25,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,14}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{48,910},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,1}</string>
                <key>spriteSize</key>
                <string>{45,79}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,910},{45,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,831},{77,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miaosha_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,84},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,167},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,250},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,333},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,416},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,499},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,582},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,582},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,665},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miaosha_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1,748},{93,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kill.png</string>
            <key>size</key>
            <string>{95,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ff92f888258b8ec71de74cf93690ac:3949a33e3fe58f7ed14308f370473a54:29200cc9411bc66f838fa4fe6ba2d3b1$</string>
            <key>textureFileName</key>
            <string>kill.png</string>
        </dict>
    </dict>
</plist>
