<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandian_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,203},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,304},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,405},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,506},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,607},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,708},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,809},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shandian_hit_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightning_hit.png</string>
            <key>size</key>
            <string>{114,909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b66e89a5715c6217a12cc19e5e9da0a5:5a0f4d45feaa52059e7bca3e5e7cfb11:0e588f6091c6795d0d1ce53c86809933$</string>
            <key>textureFileName</key>
            <string>lightning_hit.png</string>
        </dict>
    </dict>
</plist>
