<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leidian_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leidian_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{643,1},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{1,230},{227,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leidian_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{1,459},{227,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leidian_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{872,1},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{643,643},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{1,1285},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{1,688},{227,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leidian_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{1,917},{227,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leidian_hit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{230,1285},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{459,1285},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{688,1285},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leidian_hit_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,640}</string>
                <key>spriteSourceSize</key>
                <string>{227,640}</string>
                <key>textureRect</key>
                <string>{{872,643},{227,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shanDian_effect.png</string>
            <key>size</key>
            <string>{1100,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:018399e3277b0b8ae990bca21f8ec454:88fa549ec23070f8aefa1bd7ba00bbb9:d74676dbb20830324eee27107dc05320$</string>
            <key>textureFileName</key>
            <string>shanDian_effect.png</string>
        </dict>
    </dict>
</plist>
