<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pu1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{709,1},{93,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pu1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{119,92}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{789,1},{119,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pu1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pu1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{103,106}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{419,1},{103,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pu1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{213,1},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pu1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{109,1},{105,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pu1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{318,1},{99,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pu1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{91,98}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{527,1},{91,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pu1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{87,94}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{620,1},{87,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pu1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{910,1},{85,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shanDianBeHit.png</string>
            <key>size</key>
            <string>{996,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad8e1e6876672f31a2b6b6fa84be4a4:016fd88c6a218e09260a37113f85b4db:844c732dac1698a850dc919ae6e7173e$</string>
            <key>textureFileName</key>
            <string>shanDianBeHit.png</string>
        </dict>
    </dict>
</plist>
