<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changmao_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changmao_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{206,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changmao_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{411,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changmao_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{616,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changmao_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{821,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changmao_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{1026,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changmao_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,113}</string>
                <key>spriteSourceSize</key>
                <string>{203,113}</string>
                <key>textureRect</key>
                <string>{{1231,1},{203,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shimao_hit.png</string>
            <key>size</key>
            <string>{1435,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db250564ee642a6dbaf048186b3c8b49:0c14da5c854d374d76b5bd8f508cab10:0653f00cca4e2ddbfe903ebb802478fd$</string>
            <key>textureFileName</key>
            <string>shimao_hit.png</string>
        </dict>
    </dict>
</plist>
