<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xueqiu_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{99,419},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xueqiu_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{105,213},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueqiu_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,209},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueqiu_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,105},{102,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xueqiu_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xueqiu_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{105,315},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueqiu_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,313},{96,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xueqiu_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{107,107},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueqiu_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{109,1},{94,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xueqiu_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,106}</string>
                <key>textureRect</key>
                <string>{{1,411},{88,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xuqiu_hit.png</string>
            <key>size</key>
            <string>{204,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:818490d13e82e9f10d97e347e568a922:fe235eae611e78eeee4dd7620dd3bfd2:4812e035149291eacdf938068331745a$</string>
            <key>textureFileName</key>
            <string>xuqiu_hit.png</string>
        </dict>
    </dict>
</plist>
