<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yueguang_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueguang_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{1,363},{135,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yueguang_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{138,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueguang_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{275,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueguang_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{363,363},{135,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yueguang_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{412,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueguang_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{549,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueguang_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{686,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueguang_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,360}</string>
                <key>spriteSourceSize</key>
                <string>{135,360}</string>
                <key>textureRect</key>
                <string>{{823,1},{135,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yueguang_hit.png</string>
            <key>size</key>
            <string>{959,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d879f6fbf1128810ff833bef76da052:9fce488ea543169074757f8b58b3bcb3:6ebf06b7f75fcfa3bce5012be62d3218$</string>
            <key>textureFileName</key>
            <string>yueguang_hit.png</string>
        </dict>
    </dict>
</plist>
