<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhadan_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{293,130},{101,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{137,129}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{148,305},{137,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{145,141}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{148,158},{145,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{147,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{141,153}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{150,1},{141,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{145,157}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{1,158},{145,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{143,123}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{1,317},{143,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhadan_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{135,115}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{279,305},{135,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhadan_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{127,95}</string>
                <key>spriteSourceSize</key>
                <string>{149,159}</string>
                <key>textureRect</key>
                <string>{{293,1},{127,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhandan_hit.png</string>
            <key>size</key>
            <string>{395,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ed1b918d938d1f70cbd7b19b8756ed:2ac08dc1d1b750d2b0f885c57399cb63:48aa73b3b42b7d00ae8181c91bb87b87$</string>
            <key>textureFileName</key>
            <string>zhandan_hit.png</string>
        </dict>
    </dict>
</plist>
