<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuaji_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuaji_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{128,1},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuaji_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{255,1},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuaji_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{382,1},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuaji_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{509,1},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuaji_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{636,1},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhuaji.png</string>
            <key>size</key>
            <string>{762,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa487418d5dce95d69373c8620d60df:963e840557612222ca24adb76a790ba3:c79e611ac577d407f5eefaa49dbd5445$</string>
            <key>textureFileName</key>
            <string>zhuaji.png</string>
        </dict>
    </dict>
</plist>
