<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zibao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{1,245},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{260,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{260,245},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{519,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{519,245},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{778,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{778,245},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{1037,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{1037,245},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{1296,1},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zibao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,242}</string>
                <key>spriteSourceSize</key>
                <string>{257,242}</string>
                <key>textureRect</key>
                <string>{{1296,245},{257,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zibao.png</string>
            <key>size</key>
            <string>{1554,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38f8a5bda3c23f5f51a28f3e272fc0d5:50c6019ddaf4e60db9102ae7c8de0418:b0bfe1420bb0f2c9bb88b3f8674693ff$</string>
            <key>textureFileName</key>
            <string>zibao.png</string>
        </dict>
    </dict>
</plist>
