<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shinaimubao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-54}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{405,383},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{173,173}</string>
                <key>spriteSourceSize</key>
                <string>{173,173}</string>
                <key>textureRect</key>
                <string>{{586,1},{173,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{179,187}</string>
                <key>spriteSourceSize</key>
                <string>{179,187}</string>
                <key>textureRect</key>
                <string>{{405,194},{179,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{191,199}</string>
                <key>spriteSourceSize</key>
                <string>{191,199}</string>
                <key>textureRect</key>
                <string>{{204,1},{191,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,209}</string>
                <key>spriteSourceSize</key>
                <string>{201,209}</string>
                <key>textureRect</key>
                <string>{{202,216},{201,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,211}</string>
                <key>spriteSourceSize</key>
                <string>{199,211}</string>
                <key>textureRect</key>
                <string>{{1,216},{199,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,213}</string>
                <key>spriteSourceSize</key>
                <string>{201,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{187,191}</string>
                <key>spriteSourceSize</key>
                <string>{187,191}</string>
                <key>textureRect</key>
                <string>{{397,1},{187,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-18}</string>
                <key>spriteSize</key>
                <string>{173,171}</string>
                <key>spriteSourceSize</key>
                <string>{173,171}</string>
                <key>textureRect</key>
                <string>{{586,176},{173,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-17}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{165,167}</string>
                <key>textureRect</key>
                <string>{{761,1},{165,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinaimubao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{761,168},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinaimubao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{761,335},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_3201_behit_1.png</string>
            <key>size</key>
            <string>{929,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec3bad87270056667b0d5a2505e2dd3:4bd5ee8623fecfa817bbd3f7bb5fc63c:a1288aa52ed1a666e43277656d0af766$</string>
            <key>textureFileName</key>
            <string>hero_3201_behit_1.png</string>
        </dict>
    </dict>
</plist>
