<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yb_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{112,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{168,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{224,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{280,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{336,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{392,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{448,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{504,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yb_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{560,0},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4302_bullet_1.png</string>
            <key>size</key>
            <string>{616,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1f07923e3dbd8c203c5c7003fc1342a:63926837aa43dff6c2def089db826886:0b8bad696aaf8c60b8f54235f82d81f2$</string>
            <key>textureFileName</key>
            <string>hero_4302_bullet_1.png</string>
        </dict>
    </dict>
</plist>
