<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bday_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,0},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,141},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,141},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,282},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,282},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,423},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,423},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,564},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,564},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,705},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,705},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,846},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{211,846},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bday_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,141}</string>
                <key>spriteSourceSize</key>
                <string>{211,141}</string>
                <key>textureRect</key>
                <string>{{0,987},{211,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4403_bullet_3.png</string>
            <key>size</key>
            <string>{422,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:791dfe00553d361b672c51bd554028fb:a349a63e64904bd311853c7d1aa31e90:0d9f3a0e67c5ca14712f7690c9eaeaf7$</string>
            <key>textureFileName</key>
            <string>hero_4403_bullet_3.png</string>
        </dict>
    </dict>
</plist>
