<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanshou_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{0,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{226,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{452,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{678,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{904,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1130,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1356,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1582,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1808,0},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{0,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{226,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{452,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{678,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{904,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1130,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1356,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1582,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1808,236},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{0,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{226,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{452,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{678,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{904,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1130,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1356,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1582,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1808,472},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{0,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{226,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{452,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{678,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{904,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1130,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanshou_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,236}</string>
                <key>textureRect</key>
                <string>{{1356,708},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_1101_behit_1.png</string>
            <key>size</key>
            <string>{2034,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e985783b311877cd9665966ae46d6d:383337dd64cdeefffbb70ffdf9d6e199:707122c55d6910481fc0a7114f98d53d$</string>
            <key>textureFileName</key>
            <string>hero_1101_behit_1.png</string>
        </dict>
    </dict>
</plist>
