<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhizhud_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{0,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{209,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{418,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{627,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{836,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1045,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1254,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1463,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1672,0},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{0,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{209,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{418,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{627,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{836,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1045,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1254,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1463,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1672,499},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{0,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{209,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{418,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{627,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{836,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1045,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhizhud_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,499}</string>
                <key>spriteSourceSize</key>
                <string>{209,499}</string>
                <key>textureRect</key>
                <string>{{1254,998},{209,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4101_bullet_2.png</string>
            <key>size</key>
            <string>{1881,1497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d86dd86e0dcc2ecdf50e52de180dcc1:cb48b0b1f1fe67b84d5d6815e0ffbc9d:101c6e07888a394b9c5aa7ee5dd852ac$</string>
            <key>textureFileName</key>
            <string>hero_4101_bullet_2.png</string>
        </dict>
    </dict>
</plist>
