<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{360,0},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{720,0},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{1080,0},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{0,357},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{360,357},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{720,357},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{1080,357},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{0,714},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{360,714},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{720,714},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,357}</string>
                <key>spriteSourceSize</key>
                <string>{360,357}</string>
                <key>textureRect</key>
                <string>{{1080,714},{360,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_2301_behit_1.png</string>
            <key>size</key>
            <string>{1440,1071}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f700bbad575f8e68e8345ec52c394b52:7a36e691363d73288f63ffc80f37973d:b7e24c8c18e9b0d7dcb85cb11ba6cd1b$</string>
            <key>textureFileName</key>
            <string>hero_2301_behit_1.png</string>
        </dict>
    </dict>
</plist>
