<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{682,0},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{1364,0},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{0,120},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{682,120},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{1364,120},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{0,240},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{682,240},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{1364,240},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,120}</string>
                <key>spriteSourceSize</key>
                <string>{682,120}</string>
                <key>textureRect</key>
                <string>{{0,360},{682,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4204_bullet_5.png</string>
            <key>size</key>
            <string>{2046,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:977b27072e5e45d90c05380a8d140769:27eacaa4c06148f1e284355cb0579e42:5f6f0322884d8cf6ebd941beb612b64e$</string>
            <key>textureFileName</key>
            <string>hero_4204_bullet_5.png</string>
        </dict>
    </dict>
</plist>
