<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bqshouj_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{0,0},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{225,0},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{0,228},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{225,228},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{0,456},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{225,456},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{0,684},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{225,684},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{0,912},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{225,912},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{0,1140},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bqshouj_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{225,228}</string>
                <key>textureRect</key>
                <string>{{225,1140},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4201_behit_1.png</string>
            <key>size</key>
            <string>{450,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a72b2cba8d5e8410dd346e339bc9c77:006dee8e6e34898f58b02ea22e1e1e39:34fbde23d0f6d71c2a07cb98f4288fa2$</string>
            <key>textureFileName</key>
            <string>hero_4201_behit_1.png</string>
        </dict>
    </dict>
</plist>
