<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hero_026-effect_fly_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{112,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{224,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{336,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{448,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{560,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{672,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{784,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{896,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_3402_bullet_2.png</string>
            <key>size</key>
            <string>{1008,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4711fbb8abebcf0e655fdacc8ca035b2:7fdc16e7311837eabd94146cb9f99765:acbe1e4f470ec5eb434ef4324454be52$</string>
            <key>textureFileName</key>
            <string>hero_3402_bullet_2.png</string>
        </dict>
    </dict>
</plist>
