<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lq1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,0},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{235,0},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,218},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{235,218},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,436},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{235,436},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,654},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{235,654},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,872},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{235,872},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,1090},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{235,1090},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lq1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,218}</string>
                <key>spriteSourceSize</key>
                <string>{235,218}</string>
                <key>textureRect</key>
                <string>{{0,1308},{235,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_behit_blue.png</string>
            <key>size</key>
            <string>{470,1526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3238fecf60c5a31ebfa52ea1fc903dc3:b9c54512e8062077eb265eab15fc6819:3a9bd16a9de19976f4847b843bd7e91a$</string>
            <key>textureFileName</key>
            <string>hero_common_behit_blue.png</string>
        </dict>
    </dict>
</plist>
