<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heihday_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{259,0},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{518,0},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{259,151},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{518,151},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{0,302},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{259,302},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{518,302},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{0,453},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{259,453},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{518,453},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{0,604},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{259,604},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heihday_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,151}</string>
                <key>spriteSourceSize</key>
                <string>{259,151}</string>
                <key>textureRect</key>
                <string>{{518,604},{259,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4403_bullet_4.png</string>
            <key>size</key>
            <string>{777,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96fcdec8ede4cc0da6fb69272e757fd:02a0f031a173c67ea36543f2a6a61ad3:bb2c3a445bb28cbee22e422701e1303b$</string>
            <key>textureFileName</key>
            <string>hero_4403_bullet_4.png</string>
        </dict>
    </dict>
</plist>
