<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aixin_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{114,115}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{123,136},{114,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{135,1},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{269,1},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1,136},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{239,136},{72,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{313,136},{72,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aixin_hit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{387,136},{72,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4502_behit_2.png</string>
            <key>size</key>
            <string>{459,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa0fdeb4b74bd16e57aac45e63f99604:2bfe2e3ab0de24c7257f9fa1bd3b8215:74467b4e5bac6de5fa8a0d44d4f3a7d3$</string>
            <key>textureFileName</key>
            <string>hero_4502_behit_2.png</string>
        </dict>
    </dict>
</plist>
