<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc006_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4204_behit_1.png</string>
            <key>size</key>
            <string>{1600,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:471325d06a272cf2fe494f290055b0de:410c3bedd2c1c101b0c5ea397c4c26d9:a18b0d5f903c420703b9fbe90c97847c$</string>
            <key>textureFileName</key>
            <string>hero_4204_behit_1.png</string>
        </dict>
    </dict>
</plist>
