<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bz_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{149,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{298,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{447,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{596,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{745,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{0,148},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{149,148},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{298,148},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{447,148},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{596,148},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{745,148},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{0,296},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{149,296},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{298,296},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{447,296},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bz_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{596,296},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4402_behit_1.png</string>
            <key>size</key>
            <string>{894,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6d6f374fe8453847e916663c5217aa5:391a5a61f87f4a830de805401930b6e3:9e69e4e575149caef8a3239fdccd2abb$</string>
            <key>textureFileName</key>
            <string>hero_4402_behit_1.png</string>
        </dict>
    </dict>
</plist>
