<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{1070,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{1284,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{1498,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bao2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,91}</string>
                <key>spriteSourceSize</key>
                <string>{214,91}</string>
                <key>textureRect</key>
                <string>{{1712,0},{214,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4401_behit_2.png</string>
            <key>size</key>
            <string>{1926,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba5f4698f1a57bae0569e683f809ce4c:a026c0af681ccdf2ebe0ddc8ffa46083:df9383c05e97bc24a86880090ebe284a$</string>
            <key>textureFileName</key>
            <string>hero_4401_behit_2.png</string>
        </dict>
    </dict>
</plist>
