<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jubao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{114,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{227,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{340,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{453,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{566,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{679,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{792,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{905,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jubao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,116}</string>
                <key>spriteSourceSize</key>
                <string>{111,116}</string>
                <key>textureRect</key>
                <string>{{1018,1},{111,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_2401_behit_1.png</string>
            <key>size</key>
            <string>{1130,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5d82720004fb813818e31ba145e4c22:e5ae6733c2216433934872be029abed9:da9f141592b6e8e9a4781bdfbe199fc0$</string>
            <key>textureFileName</key>
            <string>hero_2401_behit_1.png</string>
        </dict>
    </dict>
</plist>
