<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{758,0},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{0,125},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{758,125},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{0,250},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{758,250},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{0,375},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{758,375},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{0,500},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,125}</string>
                <key>spriteSourceSize</key>
                <string>{758,125}</string>
                <key>textureRect</key>
                <string>{{758,500},{758,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4204_bullet_4.png</string>
            <key>size</key>
            <string>{1516,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd22bff5e8ed7f1475192a0856b43d21:2d64fb472792ba2104dcbb03fab4a139:de3cffc86b947703f273ddd1f099bbeb$</string>
            <key>textureFileName</key>
            <string>hero_4204_bullet_4.png</string>
        </dict>
    </dict>
</plist>
