<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiongji1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{0,0},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{148,0},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{296,0},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{444,0},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{592,0},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{740,0},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{0,161},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{148,161},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{296,161},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{444,161},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{592,161},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{740,161},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{0,322},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{148,322},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{296,322},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,161}</string>
                <key>spriteSourceSize</key>
                <string>{148,161}</string>
                <key>textureRect</key>
                <string>{{444,322},{148,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4203_behit_3.png</string>
            <key>size</key>
            <string>{888,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:055da48ef81ab5c21ac687ee17c9a06d:e01f3a9aaf4e1ad3be7e19b381fb9693:39bcf1a3b12bdec781b8b7c8bd1953ab$</string>
            <key>textureFileName</key>
            <string>hero_4203_behit_3.png</string>
        </dict>
    </dict>
</plist>
