<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiongji2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,0},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,0},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,214},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,214},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,428},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,428},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,642},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,642},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,856},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,856},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,1070},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,1070},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,1284},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,1284},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{0,1498},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiongji2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,214}</string>
                <key>textureRect</key>
                <string>{{223,1498},{223,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4203_behit_1.png</string>
            <key>size</key>
            <string>{446,1712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d4acdd6c8ed9119042937a32c7c3009:b4b406423d9fdf1524e99b0f5c289804:1fb54835e387e2a5a556dd4f2be3a194$</string>
            <key>textureFileName</key>
            <string>hero_4203_behit_1.png</string>
        </dict>
    </dict>
</plist>
