<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhip_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{142,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{284,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{426,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{568,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{710,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{852,0},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{0,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{142,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{284,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{426,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{568,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{710,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{852,138},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{0,276},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{142,276},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{284,276},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{426,276},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhip_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{568,276},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4503_behit_1.png</string>
            <key>size</key>
            <string>{994,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9664ac7eb837a59368654fdcbc60535:8bb540e2e734e9ffd2a441fb7664805c:1432fcf79fc01ffcd85c4bfc24231ac9$</string>
            <key>textureFileName</key>
            <string>hero_4503_behit_1.png</string>
        </dict>
    </dict>
</plist>
