<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daxiong1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{161,0},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{322,0},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{0,92},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{161,92},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{322,92},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{0,184},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{161,184},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{322,184},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{0,276},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{161,276},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{322,276},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{0,368},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{161,368},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daxiong1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{161,92}</string>
                <key>textureRect</key>
                <string>{{322,368},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4203_bullet_4.png</string>
            <key>size</key>
            <string>{483,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b7d64cf05ce070b2e08e2decab75cff:4bb039ff401d44d3d339f19825fc7a17:0880319ae4cb0d154844d398794f548b$</string>
            <key>textureFileName</key>
            <string>hero_4203_bullet_4.png</string>
        </dict>
    </dict>
</plist>
