<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{140,0},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{280,0},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{0,141},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{140,141},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{280,141},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{0,282},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{140,282},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{280,282},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{0,423},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{140,423},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{280,423},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{0,564},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{140,564},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{280,564},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4301_bullet_4.png</string>
            <key>size</key>
            <string>{420,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78b5e9ac12c3681d3b75cce67b82fbd7:062c6a634183d21212398019d28fe66a:7a8b666c5b5d142c54f2758f11c2964b$</string>
            <key>textureFileName</key>
            <string>hero_4301_bullet_4.png</string>
        </dict>
    </dict>
</plist>
