<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hq1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{181,0},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{362,0},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{543,0},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{724,0},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{0,163},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{181,163},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{362,163},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{543,163},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{724,163},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{0,326},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{181,326},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hq1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{181,163}</string>
                <key>textureRect</key>
                <string>{{362,326},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_behit_red.png</string>
            <key>size</key>
            <string>{905,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381993588aceb77a69f43045d93f0a87:374cfa84321dd891c16ddaa3d75d241a:cabc123fca3d691f1a230e09a8ffbfc1$</string>
            <key>textureFileName</key>
            <string>hero_common_behit_red.png</string>
        </dict>
    </dict>
</plist>
