<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dsj_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{0,295},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{270,295},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{540,295},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{0,590},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{270,590},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{540,590},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{0,885},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{270,885},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsj_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{270,295}</string>
                <key>textureRect</key>
                <string>{{540,885},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_3202_behit_2.png</string>
            <key>size</key>
            <string>{810,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c31d5482a7996552f1ae4e75d7b1eb0:8fd1c8fbbf1178563655805602354d40:2f004b5f89a087db8259f09befcae1d8$</string>
            <key>textureFileName</key>
            <string>hero_3202_behit_2.png</string>
        </dict>
    </dict>
</plist>
