<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bshouji_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{263,0},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{526,0},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{0,252},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{263,252},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{526,252},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{0,504},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{263,504},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{526,504},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bshouji_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,252}</string>
                <key>spriteSourceSize</key>
                <string>{263,252}</string>
                <key>textureRect</key>
                <string>{{0,756},{263,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4403_behit_3.png</string>
            <key>size</key>
            <string>{789,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7780cd47df3a6444617e2439664ce17:2f43ba9a83cc0d74a498877ceb83e693:7e5fda06d3aa952f3cab8d9e80a3f34d$</string>
            <key>textureFileName</key>
            <string>hero_4403_behit_3.png</string>
        </dict>
    </dict>
</plist>
