<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wand1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{0,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{210,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{420,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{630,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{840,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{1050,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wand1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{1260,0},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_behit_sword.png</string>
            <key>size</key>
            <string>{1470,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e160bb724196fb94cb9174e07eb25864:eeb21f1b396e2a3c389bfabab827f9e8:1fe33c20edd049a80d4b707dc8f09502$</string>
            <key>textureFileName</key>
            <string>hero_common_behit_sword.png</string>
        </dict>
    </dict>
</plist>
