<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{139,0},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{278,0},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{0,139},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{139,139},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{278,139},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{0,278},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{139,278},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{278,278},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{0,417},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{139,417},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{278,417},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{0,556},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{139,556},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{278,556},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4301_bullet_2.png</string>
            <key>size</key>
            <string>{417,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3eebedf83d72cfb2abfa1be6169bcc4:191962ece31346233212c4dea175a9c3:c3ed2801b37f8b61a9db968286b3f254$</string>
            <key>textureFileName</key>
            <string>hero_4301_bullet_2.png</string>
        </dict>
    </dict>
</plist>
