<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoxiong_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{148,0},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{296,0},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{0,92},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{148,92},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{296,92},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{0,184},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{148,184},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{296,184},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{0,276},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{148,276},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{296,276},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{0,368},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{148,368},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoxiong_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,92}</string>
                <key>spriteSourceSize</key>
                <string>{148,92}</string>
                <key>textureRect</key>
                <string>{{296,368},{148,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4203_bullet_1.png</string>
            <key>size</key>
            <string>{444,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9877a4718e9108170ab9c076784dd5ff:bdd85cc2a1a747324a1159f67e2a4979:8bb2f213353861b1bc257c4ad0d6abf2$</string>
            <key>textureFileName</key>
            <string>hero_4203_bullet_1.png</string>
        </dict>
    </dict>
</plist>
