<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,144},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,288},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,432},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,576},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,720},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,864},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,1008},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,1152},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zd_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,144}</string>
                <key>spriteSourceSize</key>
                <string>{668,144}</string>
                <key>textureRect</key>
                <string>{{0,1296},{668,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4204_bullet_6.png</string>
            <key>size</key>
            <string>{668,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd30b92fae33ba6dd24e579af58d8bc:c488ff1c35116147988787168f83c37c:de3cffc86b947703f273ddd1f099bbeb$</string>
            <key>textureFileName</key>
            <string>hero_4204_bullet_6.png</string>
        </dict>
    </dict>
</plist>
