<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hy1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,0},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,0},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,225},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,225},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,450},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,450},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,675},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,675},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,900},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,900},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,1125},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,1125},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,1350},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,1350},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,1575},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{239,1575},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hy1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,225}</string>
                <key>spriteSourceSize</key>
                <string>{239,225}</string>
                <key>textureRect</key>
                <string>{{0,1800},{239,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_behit_yellow.png</string>
            <key>size</key>
            <string>{478,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c82a0c2ae47fa8a22927a39007a273:8fa65dad7ea08de0444f38614c2341f0:8e9689591213802f1ac88287eb193cb6$</string>
            <key>textureFileName</key>
            <string>hero_common_behit_yellow.png</string>
        </dict>
    </dict>
</plist>
