<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc005_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{810,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1080,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1350,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1620,0},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{270,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{540,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{810,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1080,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1350,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc005_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1620,150},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_1201_bullet_1.png</string>
            <key>size</key>
            <string>{1890,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22522012d5458fcdb2bbd97d8c6b883f:145a5c2bf4ca234fc02660c3f9064c29:cdfb8387bf22063aa6ec46a2f25358aa$</string>
            <key>textureFileName</key>
            <string>hero_1201_bullet_1.png</string>
        </dict>
    </dict>
</plist>
