<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hd_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{778,0},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{0,112},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{778,112},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{0,224},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{778,224},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{0,336},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{778,336},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{0,448},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hd_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,112}</string>
                <key>spriteSourceSize</key>
                <string>{778,112}</string>
                <key>textureRect</key>
                <string>{{778,448},{778,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4204_bullet_3.png</string>
            <key>size</key>
            <string>{1556,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaad13118a4de2b4ab81dcd85a4c23c3:2692d6162cad04ce22cbf0a7399f5afb:5f6f0322884d8cf6ebd941beb612b64e$</string>
            <key>textureFileName</key>
            <string>hero_4204_bullet_3.png</string>
        </dict>
    </dict>
</plist>
