<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{0,0},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{296,0},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{592,0},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{888,0},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{1184,0},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{0,295},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{296,295},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{592,295},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{888,295},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,295}</string>
                <key>spriteSourceSize</key>
                <string>{296,295}</string>
                <key>textureRect</key>
                <string>{{1184,295},{296,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4302_behit_2.png</string>
            <key>size</key>
            <string>{1480,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ceaf18dbb8cfc95b07ddbaac5587b8:1e5f63d8b86a0e4b4802fa7e77db214f:bc1f224f43dbfe3a86b59bee07b2d960$</string>
            <key>textureFileName</key>
            <string>hero_4302_behit_2.png</string>
        </dict>
    </dict>
</plist>
