<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dax2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,95},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,190},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,285},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,380},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,475},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,570},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,665},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,760},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,855},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,950},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,1045},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,1140},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,1235},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dax2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,95}</string>
                <key>spriteSourceSize</key>
                <string>{183,95}</string>
                <key>textureRect</key>
                <string>{{0,1330},{183,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4203_bullet_2.png</string>
            <key>size</key>
            <string>{183,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee14c9d45289f630128b7ca5f3c8f59e:f58d64a481ae9240a47566f6ddb2b6f6:4010f732391c7df8e4159ec3c521efc6$</string>
            <key>textureFileName</key>
            <string>hero_4203_bullet_2.png</string>
        </dict>
    </dict>
</plist>
