<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zy1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{0,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{221,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{442,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{663,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{884,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1105,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1326,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1547,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1768,0},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{0,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{221,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{442,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{663,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{884,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1105,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1326,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1547,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zy1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,207}</string>
                <key>spriteSourceSize</key>
                <string>{221,207}</string>
                <key>textureRect</key>
                <string>{{1768,207},{221,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_behit_purple.png</string>
            <key>size</key>
            <string>{1989,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3867317767fd89acfb907592b113c0a1:72540b067435fda8e2b2c2dd595c8588:5362fb2932c1f95de6496032a957f24a$</string>
            <key>textureFileName</key>
            <string>hero_common_behit_purple.png</string>
        </dict>
    </dict>
</plist>
