<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xshouji_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{154,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{308,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{462,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{616,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{770,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{924,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{1078,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{1232,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{1386,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{1540,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xshouji_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{1694,0},{154,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_behit_blood.png</string>
            <key>size</key>
            <string>{1848,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f001897917c51b764d3fb0f72e19f9fa:cc8120ca1b85b98bf302f09459c8d9f9:ef6fa0bae4653188b3cc033d7828b5ec$</string>
            <key>textureFileName</key>
            <string>hero_common_behit_blood.png</string>
        </dict>
    </dict>
</plist>
