<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{299,0},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{598,0},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{299,200},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{598,200},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{299,400},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{598,400},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{0,600},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{299,600},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{598,600},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{0,800},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{299,800},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,200}</string>
                <key>spriteSourceSize</key>
                <string>{299,200}</string>
                <key>textureRect</key>
                <string>{{598,800},{299,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4401_bullet_2.png</string>
            <key>size</key>
            <string>{897,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e58106eb53b65641857e3f74cc0e9b43:8a463dcbc18745775f6b2bb9a8fe2b57:94a8af411dbfdb77ffce49ee04ba1bae$</string>
            <key>textureFileName</key>
            <string>hero_4401_bullet_2.png</string>
        </dict>
    </dict>
</plist>
