<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanji1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{0,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{277,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{554,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{831,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{1108,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{1385,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{1662,0},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{0,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{277,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{554,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{831,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{1108,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{1385,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,267}</string>
                <key>spriteSourceSize</key>
                <string>{277,267}</string>
                <key>textureRect</key>
                <string>{{1662,267},{277,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_3101_behit_2.png</string>
            <key>size</key>
            <string>{1939,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c028f336584141cb8505c0664ab19739:fd6265243c370991c753fd77fad7c52e:4eb97e78951734e8498c362aba568ab5$</string>
            <key>textureFileName</key>
            <string>hero_3101_behit_2.png</string>
        </dict>
    </dict>
</plist>
