<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{0,0},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{218,0},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{0,219},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{218,219},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{0,438},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{218,438},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{0,657},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{218,657},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{0,876},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{218,876},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{0,1095},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21018_bullet.png</string>
            <key>size</key>
            <string>{434,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15dd876f1d8389469c2ca1fc0e6c1a02:e8bae10cf168b6052f8b4c4ad7b5040b:6ce9ad55f6aa32f5f8161a4bb8e39467$</string>
            <key>textureFileName</key>
            <string>m_21018_bullet.png</string>
        </dict>
    </dict>
</plist>
