<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duzha1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{129,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{258,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{387,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{516,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{645,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{774,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{903,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{1032,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{1161,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{1290,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{1419,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duzha1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,131}</string>
                <key>spriteSourceSize</key>
                <string>{129,131}</string>
                <key>textureRect</key>
                <string>{{1548,0},{129,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21019_bullet.png</string>
            <key>size</key>
            <string>{1677,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb0bdcebc838399d031939a00c5e1d0f:b1fcde72a60598f44d20de8420c3ba9c:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>m_21019_bullet.png</string>
        </dict>
    </dict>
</plist>
