<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21004_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,0},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,0},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{602,0},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,202},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,202},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{602,202},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,404},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,404},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{602,404},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,606},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,606},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{602,606},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,808},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,808},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{602,808},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,1010},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,1010},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{602,1010},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{0,1212},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,202}</string>
                <key>spriteSourceSize</key>
                <string>{301,202}</string>
                <key>textureRect</key>
                <string>{{301,1212},{301,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21004_effect.png</string>
            <key>size</key>
            <string>{903,1414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f6a1bec7b69a9dfcc5635276229df33:57d8c147f30faef5636bd7e6d93fe283:c891996f8ee6b939152dc588761b6894$</string>
            <key>textureFileName</key>
            <string>m_21004_effect.png</string>
        </dict>
    </dict>
</plist>
