<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc001_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{1500,0},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21007_bullet.png</string>
            <key>size</key>
            <string>{1800,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89a7aff61e76c955b2d19ec0bee729e0:97e3544efc5475a27fb8a01eae73eb37:ad67bbcebb8f93bd259a6f0100a90bb8$</string>
            <key>textureFileName</key>
            <string>m_21007_bullet.png</string>
        </dict>
    </dict>
</plist>
