<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc005_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{200,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{500,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{800,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1100,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1400,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1700,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{900,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1200,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1500,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{900,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1200,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1500,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{900,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1200,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc006_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1500,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21002_bullet_1.png</string>
            <key>size</key>
            <string>{2000,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32f47e17f32807e2d9f7a4452c8ef9b0:3ff669e1bf173ebcace0e0c17ce0a411:10f3ecf4818312a20086dd1f97363d35$</string>
            <key>textureFileName</key>
            <string>m_21002_bullet_1.png</string>
        </dict>
    </dict>
</plist>
