<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_31012_behit_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{1800,0},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{2400,0},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{3000,0},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{0,640},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{600,640},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{1200,640},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{1800,640},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{2400,640},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{3000,640},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{0,1280},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{600,1280},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{1200,1280},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_behit_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,640}</string>
                <key>spriteSourceSize</key>
                <string>{600,640}</string>
                <key>textureRect</key>
                <string>{{1800,1280},{600,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31012_behit_2.png</string>
            <key>size</key>
            <string>{3600,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a601df0f45275a5dd6e1a03dba5d5b5:0b4e26532f8ca2b15e190505c73e0b9a:f275e9eb83d57f119d2d4fd3c9cdff8b$</string>
            <key>textureFileName</key>
            <string>m_31012_behit_2.png</string>
        </dict>
    </dict>
</plist>
