<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pre-comp 1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{149,0},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{298,0},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{447,0},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{596,0},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{745,0},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{0,127},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{149,127},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{298,127},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{447,127},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{596,127},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{745,127},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{0,254},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{149,254},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{298,254},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{447,254},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{147,125}</string>
                <key>textureRect</key>
                <string>{{596,254},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31015_behit_1.png</string>
            <key>size</key>
            <string>{892,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbc054de07655b38513f0996115e944:52a1361c93f28f0d6681358e930327fb:bf68efe81102c4132f5c66b3e266a4ed$</string>
            <key>textureFileName</key>
            <string>m_31015_behit_1.png</string>
        </dict>
    </dict>
</plist>
