<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_31012_bullet_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{0,0},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{449,0},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{898,0},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{1347,0},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{0,449},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{449,449},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{898,449},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_31012_bullet_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{1347,449},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31012_bullet_1.png</string>
            <key>size</key>
            <string>{1796,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea4ff84498e0fd13fee3b9cbcb1792f:7de05cad6865a32cc4e12494a96be56e:4d09b96b9701f625b863424bf61d8303$</string>
            <key>textureFileName</key>
            <string>m_31012_bullet_1.png</string>
        </dict>
    </dict>
</plist>
