<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{312,0},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{624,0},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{312,256},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{624,256},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{312,512},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{624,512},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{312,768},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{624,768},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{312,1024},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,256}</string>
                <key>spriteSourceSize</key>
                <string>{312,256}</string>
                <key>textureRect</key>
                <string>{{624,1024},{312,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31007_behit_1.png</string>
            <key>size</key>
            <string>{936,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f082fed80034acf30ed494b11818917:be939d3dc1925a2453fffbec58e149ea:b86618f62b4f7a7196d81410da06b8e5$</string>
            <key>textureFileName</key>
            <string>m_31007_behit_1.png</string>
        </dict>
    </dict>
</plist>
