<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pre-comp 2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{131,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{262,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{393,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{524,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{655,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pre-comp 2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{786,0},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31015_bullet_1.png</string>
            <key>size</key>
            <string>{915,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:034a939d6dd61a9fec043fa41d4fa645:b0d5ec7b1ab41900eacac8a212bd22c8:652ce33c9eb1ab692ea11ad104d476fb$</string>
            <key>textureFileName</key>
            <string>m_31015_bullet_1.png</string>
        </dict>
    </dict>
</plist>
