<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_boss_021-effect_bomb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{262,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{786,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{1048,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{1310,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{1572,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{524,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{786,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{1048,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{1310,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{1572,0},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{0,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{262,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_boss_021-effect_bomb_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,261}</string>
                <key>spriteSourceSize</key>
                <string>{262,261}</string>
                <key>textureRect</key>
                <string>{{524,261},{262,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_32003_behit_2.png</string>
            <key>size</key>
            <string>{1834,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de0a4685ab44b1409423d2f8e9df5105:f3c93169ea1ce381cde0824e74439ee2:deb419914f3ada20a36ccd221a78a4c8$</string>
            <key>textureFileName</key>
            <string>m_32003_behit_2.png</string>
        </dict>
    </dict>
</plist>
