<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dandao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{145,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{290,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{435,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{580,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{725,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{870,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{1015,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{1160,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dandao_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,139}</string>
                <key>spriteSourceSize</key>
                <string>{145,139}</string>
                <key>textureRect</key>
                <string>{{1305,0},{145,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_32003_bullet_1.png</string>
            <key>size</key>
            <string>{1450,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d710f8255c65ba4acf9166ab2e2a1df4:85558591e5ad69ec7f06a0c903f8296e:1fba22ab1a48bd9ff5041e15cacf64b9$</string>
            <key>textureFileName</key>
            <string>m_32003_bullet_1.png</string>
        </dict>
    </dict>
</plist>
