<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sh_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{0,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{252,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{504,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{756,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1008,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1260,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1512,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1764,0},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{0,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{252,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{504,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{756,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1008,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1260,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sh_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{252,243}</string>
                <key>textureRect</key>
                <string>{{1512,243},{252,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_32003_behit_1.png</string>
            <key>size</key>
            <string>{2016,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f145497ee223b7ff5ba83b391cd5e84:4832f8fa8b34465222633fbd3b6cd990:c0d6a66a059d2f198d24271390b7ac77$</string>
            <key>textureFileName</key>
            <string>m_32003_behit_1.png</string>
        </dict>
    </dict>
</plist>
