<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hero_026-effect_fly_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,69},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,138},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,207},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,276},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,345},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_fly_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{0,414},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_32001_bullet_2.png</string>
            <key>size</key>
            <string>{112,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdee053c00dc9a251ea1054ccd1ddccf:57ddcfef843d3b73570b0bbbbff474af:f23ca3cffb38d674835ae5337d1da289$</string>
            <key>textureFileName</key>
            <string>m_32001_bullet_2.png</string>
        </dict>
    </dict>
</plist>
