<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hero_026-effect_bomb_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{288,0},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{576,0},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{0,290},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{288,290},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{576,290},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{0,580},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{288,580},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{576,580},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_026-effect_bomb_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,290}</string>
                <key>spriteSourceSize</key>
                <string>{288,290}</string>
                <key>textureRect</key>
                <string>{{0,870},{288,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_32001_behit_2.png</string>
            <key>size</key>
            <string>{864,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99d3e4d3a33d7682d4932b06ad52f6c1:da312227c6af533ca5f4ff94305d9acb:61fe56a407b8ce4bfff1a3b003088aa5$</string>
            <key>textureFileName</key>
            <string>m_32001_behit_2.png</string>
        </dict>
    </dict>
</plist>
