<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{201,0},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{402,0},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{603,0},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_common_behit.png</string>
            <key>size</key>
            <string>{804,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9557378e61ea58b0554bd301cf03a04d:e182ad95bb93f231e45977942376a249:d9825b5d1891c92ed2fc1439782d00bf$</string>
            <key>textureFileName</key>
            <string>m_common_behit.png</string>
        </dict>
    </dict>
</plist>
