<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10303_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{123,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{250,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{377,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{504,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{631,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{758,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{885,739},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{0,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{127,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{254,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{381,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{508,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{635,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,139}</string>
                <key>spriteSourceSize</key>
                <string>{127,139}</string>
                <key>textureRect</key>
                <string>{{762,878},{127,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{468,176},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{589,176},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{710,176},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{831,176},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{0,267},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{121,267},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{702,469},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{825,469},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{0,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{123,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{246,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{369,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{492,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{615,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{738,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{861,604},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{0,739},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{0,1017},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{190,1017},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{380,1017},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{570,1017},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{760,1017},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{0,1108},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{190,1108},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{380,1108},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{570,1108},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{760,1108},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{0,1199},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{190,1199},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{380,1199},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,91}</string>
                <key>spriteSourceSize</key>
                <string>{190,91}</string>
                <key>textureRect</key>
                <string>{{570,1199},{190,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{117,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{234,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{351,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{468,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{585,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{702,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{819,0},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{117,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{234,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{351,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{468,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{585,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{702,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{819,88},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{0,176},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{117,176},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{234,176},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,88}</string>
                <key>spriteSourceSize</key>
                <string>{117,88}</string>
                <key>textureRect</key>
                <string>{{351,176},{117,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{242,267},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{359,267},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{476,267},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{593,267},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{710,267},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{827,267},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{0,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{117,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{234,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{351,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{468,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{585,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{702,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{819,368},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{0,469},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{117,469},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{234,469},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{351,469},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{468,469},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10303_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,101}</string>
                <key>textureRect</key>
                <string>{{585,469},{117,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10303.png</string>
            <key>size</key>
            <string>{1012,1290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10332e81312995c5774ba063d6dbf603:2b9c9ca61d89c63a51c7d2028ccaf908:9b5efc67acd06c646e9c94d2376a042e$</string>
            <key>textureFileName</key>
            <string>m_10303.png</string>
        </dict>
    </dict>
</plist>
