<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10901_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{0,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{108,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{216,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{324,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{432,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{540,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{648,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{756,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{864,321},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{0,478},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{108,478},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{216,478},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{324,478},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,157}</string>
                <key>spriteSourceSize</key>
                <string>{108,157}</string>
                <key>textureRect</key>
                <string>{{432,478},{108,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{525,83},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{603,83},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{681,83},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{759,83},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{837,83},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{915,83},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{0,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{87,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{174,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{261,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{348,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{435,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{522,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{609,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{696,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{783,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,152}</string>
                <key>spriteSourceSize</key>
                <string>{87,152}</string>
                <key>textureRect</key>
                <string>{{870,169},{87,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{444,737},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{564,737},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{684,737},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{804,737},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{0,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{120,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{240,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{360,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{480,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{600,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{720,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{840,852},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{0,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{120,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{240,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{360,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{480,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{600,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{720,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{120,115}</string>
                <key>textureRect</key>
                <string>{{840,967},{120,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{75,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{150,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{225,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{300,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{375,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{450,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{525,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{600,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{675,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{750,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{825,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{900,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{0,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{75,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{150,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{225,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{300,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{375,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{450,83},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{540,478},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{651,478},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{762,478},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{873,478},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{0,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{111,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{222,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{333,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{444,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{555,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{666,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{777,635},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{0,737},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{111,737},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{222,737},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10901_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,102}</string>
                <key>spriteSourceSize</key>
                <string>{111,102}</string>
                <key>textureRect</key>
                <string>{{333,737},{111,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10901.png</string>
            <key>size</key>
            <string>{993,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a41192bd9f61d7478954cae8c68d18:6f902d6cc28919c31bda4d36227f710e:a8d9eb5119c6d9f14c012fe04599769f$</string>
            <key>textureFileName</key>
            <string>m_10901.png</string>
        </dict>
    </dict>
</plist>
