<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10202_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{189,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{303,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{417,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{531,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{645,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{759,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{873,607},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{0,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{114,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{228,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{342,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{456,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{570,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{684,701},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{640,80},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{725,80},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{810,80},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{895,80},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{0,163},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{85,163},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{798,701},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{891,701},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{0,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{93,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{186,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{279,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{372,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{465,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{558,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{651,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{744,818},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{297,337},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{486,337},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{675,337},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{0,427},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{189,427},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{378,427},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{567,427},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{756,427},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{0,517},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{189,517},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{378,517},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{567,517},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{756,517},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{0,607},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{480,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{560,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{640,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{720,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{800,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{880,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{80,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{160,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{240,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{320,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{400,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{480,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{560,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{170,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{269,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{368,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{467,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{566,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{665,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{764,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{863,163},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{0,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{99,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{198,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{297,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{396,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{495,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{594,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{693,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{792,250},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{0,337},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{99,337},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10202_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,87}</string>
                <key>spriteSourceSize</key>
                <string>{99,87}</string>
                <key>textureRect</key>
                <string>{{198,337},{99,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10202.png</string>
            <key>size</key>
            <string>{987,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9c4c7f3fc9c8c357e611f2e876532e:f732a968fdd4887b8ee6382c0b9ef249:c295076bc242c1ae1b4315caa118c66c$</string>
            <key>textureFileName</key>
            <string>m_10202.png</string>
        </dict>
    </dict>
</plist>
