<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10902_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{590,80},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{684,80},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{778,80},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{872,80},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{0,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{94,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{188,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{282,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{376,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{470,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{564,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{658,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{752,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{846,176},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{236,80},{59,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{295,80},{59,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{354,80},{59,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{413,80},{59,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{472,80},{59,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,82}</string>
                <key>spriteSourceSize</key>
                <string>{59,82}</string>
                <key>textureRect</key>
                <string>{{531,80},{59,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{131,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{196,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{261,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{326,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{391,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{456,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{521,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{586,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{651,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{716,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,144}</string>
                <key>spriteSourceSize</key>
                <string>{65,144}</string>
                <key>textureRect</key>
                <string>{{781,738},{65,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{304,387},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{435,387},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{566,387},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{697,387},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{828,387},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{0,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{131,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{262,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{393,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{524,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{655,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{786,504},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{0,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{131,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{262,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{393,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{524,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{655,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{786,621},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,117}</string>
                <key>spriteSourceSize</key>
                <string>{131,117}</string>
                <key>textureRect</key>
                <string>{{0,738},{131,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{59,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{118,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{177,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{236,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{295,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{354,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{413,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{472,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{531,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{590,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{649,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{708,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{767,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{826,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{885,0},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{59,80},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{118,80},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{177,80},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{0,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{76,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{152,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{228,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{304,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{380,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{456,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{532,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{608,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{684,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{760,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{836,272},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{0,387},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{76,387},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{152,387},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10902_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,115}</string>
                <key>spriteSourceSize</key>
                <string>{76,115}</string>
                <key>textureRect</key>
                <string>{{228,387},{76,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10902.png</string>
            <key>size</key>
            <string>{966,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c289a6d6f37545cf0ba2341ea69a50a:2ac6c0a6ff6ce2cbb47df358c994381a:237b766402165e8e060f36346c7b6aae$</string>
            <key>textureFileName</key>
            <string>m_10902.png</string>
        </dict>
    </dict>
</plist>
