<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10004_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{228,394},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{373,394},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{518,394},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{663,394},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{808,394},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{0,473},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{145,473},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{290,473},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{435,473},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{580,473},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{725,473},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{0,552},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{145,552},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,79}</string>
                <key>textureRect</key>
                <string>{{290,552},{145,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{424,0},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{530,0},{106,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{435,552},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{571,552},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{707,552},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{843,552},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{0,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{136,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{272,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{408,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{544,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{680,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,79}</string>
                <key>spriteSourceSize</key>
                <string>{136,79}</string>
                <key>textureRect</key>
                <string>{{816,631},{136,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{636,0},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{801,0},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{0,65},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{165,65},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{330,65},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{495,65},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{660,65},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{0,130},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{165,130},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,65}</string>
                <key>spriteSourceSize</key>
                <string>{165,65}</string>
                <key>textureRect</key>
                <string>{{330,130},{165,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{495,130},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{603,130},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{711,130},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{819,130},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{0,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{108,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{216,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{324,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{432,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{540,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{648,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{756,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{864,195},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{0,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{108,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{216,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{324,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{432,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{540,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{108,65}</string>
                <key>textureRect</key>
                <string>{{648,260},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{756,260},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{0,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{114,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{228,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{342,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{456,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{570,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{684,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{798,327},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{0,394},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10004_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{114,394},{114,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10004.png</string>
            <key>size</key>
            <string>{979,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:764abaddb828f2e85a5c9b6132aa2c59:7bd2f64696cdbbfa494ef8eba8c3acba:b324882f3bd7c8464d9bb2cb21252c00$</string>
            <key>textureFileName</key>
            <string>m_10004.png</string>
        </dict>
    </dict>
</plist>
