<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10009_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{1728,304},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{0,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{128,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{256,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{384,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{512,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{640,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{768,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{896,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{1024,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{1152,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{1280,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{1408,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,171}</string>
                <key>spriteSourceSize</key>
                <string>{128,171}</string>
                <key>textureRect</key>
                <string>{{1536,475},{128,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,154}</string>
                <key>spriteSourceSize</key>
                <string>{119,154}</string>
                <key>textureRect</key>
                <string>{{600,149},{119,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,154}</string>
                <key>spriteSourceSize</key>
                <string>{119,154}</string>
                <key>textureRect</key>
                <string>{{719,149},{119,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,154}</string>
                <key>spriteSourceSize</key>
                <string>{119,154}</string>
                <key>textureRect</key>
                <string>{{838,149},{119,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,154}</string>
                <key>spriteSourceSize</key>
                <string>{119,154}</string>
                <key>textureRect</key>
                <string>{{957,149},{119,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,154}</string>
                <key>spriteSourceSize</key>
                <string>{119,154}</string>
                <key>textureRect</key>
                <string>{{1076,149},{119,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,154}</string>
                <key>spriteSourceSize</key>
                <string>{119,154}</string>
                <key>textureRect</key>
                <string>{{1195,149},{119,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{1314,149},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{1506,149},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{0,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{192,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{384,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{576,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{768,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{960,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{1152,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{1344,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{1536,304},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{0,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{266,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{532,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{798,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1064,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1330,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1596,646},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{0,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{266,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{532,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{798,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1064,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1330,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1596,823},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{0,1000},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{266,1000},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{532,1000},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{798,1000},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1064,1000},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,177}</string>
                <key>spriteSourceSize</key>
                <string>{266,177}</string>
                <key>textureRect</key>
                <string>{{1330,1000},{266,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{480,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{600,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{720,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{840,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{960,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1080,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1200,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1320,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1440,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1560,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1680,0},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{0,149},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{120,149},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{240,149},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{360,149},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{480,149},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{1596,1000},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{0,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{138,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{276,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{414,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{552,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{690,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{828,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{966,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{1104,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{1242,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{1380,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10009_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,179}</string>
                <key>spriteSourceSize</key>
                <string>{138,179}</string>
                <key>textureRect</key>
                <string>{{1518,1179},{138,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10009.png</string>
            <key>size</key>
            <string>{1862,1358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54037b71ef125b4a5178721497c92ba2:a9f3b7d9a90766646e5e2a93a071768b:3a7ed2b3d7531e97cdb05775c5477333$</string>
            <key>textureFileName</key>
            <string>m_10009.png</string>
        </dict>
    </dict>
</plist>
