<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10102_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{296,392},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{0,464},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{92,464},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{184,464},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{276,464},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{368,464},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{0,536},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{92,536},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{184,536},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{276,536},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{368,536},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{0,608},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{92,608},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{184,608},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{154,128},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{229,128},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{304,128},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{379,128},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{0,194},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,66}</string>
                <key>spriteSourceSize</key>
                <string>{75,66}</string>
                <key>textureRect</key>
                <string>{{75,194},{75,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{0,836},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{75,836},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{150,836},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{225,836},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{300,836},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{375,836},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{0,918},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{75,918},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{150,918},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{225,918},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{300,918},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{276,608},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{355,608},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{0,684},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{79,684},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{158,684},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{237,684},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{316,684},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{395,684},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{0,760},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{79,760},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{158,760},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{237,760},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{316,760},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{395,760},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{150,194},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{224,194},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{298,194},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{372,194},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{0,260},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{74,260},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{148,260},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{222,260},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{296,260},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{370,260},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{0,326},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{74,326},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{148,326},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{222,326},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{296,326},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{370,326},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{0,392},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{74,392},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{148,392},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{74,66}</string>
                <key>textureRect</key>
                <string>{{222,392},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{77,0},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{154,0},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{231,0},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{308,0},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{385,0},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{77,64},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{154,64},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{231,64},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{308,64},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{385,64},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10102_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{77,128},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10102.png</string>
            <key>size</key>
            <string>{474,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9700b5cdd9aa4242578df9e6ea50585f:a8dabdbd9796affdebf06644419fc272:2c212f5ef49015ea214cd13a79728e64$</string>
            <key>textureFileName</key>
            <string>m_10102.png</string>
        </dict>
    </dict>
</plist>
