<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10201_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{97,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{194,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{291,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{388,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{485,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{582,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{679,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{776,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{873,0},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{81,75},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{162,75},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{243,75},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{324,75},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,75}</string>
                <key>textureRect</key>
                <string>{{405,75},{81,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{0,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{85,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{170,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{255,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{340,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{425,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{510,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{595,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{680,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{765,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,155}</string>
                <key>spriteSourceSize</key>
                <string>{85,155}</string>
                <key>textureRect</key>
                <string>{{850,466},{85,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{81,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{191,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{301,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{411,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{521,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{631,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{741,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{851,308},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{0,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{110,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{220,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{330,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{440,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{550,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{660,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{770,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,79}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{880,387},{110,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{430,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{511,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{592,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{673,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{754,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{835,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{916,152},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{0,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{81,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{162,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{243,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{324,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{405,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{486,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{567,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{648,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{729,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{810,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{891,230},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,78}</string>
                <key>spriteSourceSize</key>
                <string>{81,78}</string>
                <key>textureRect</key>
                <string>{{0,308},{81,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{486,75},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{572,75},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{658,75},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{744,75},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{830,75},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{916,75},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{0,152},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{86,152},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{172,152},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{258,152},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10201_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{344,152},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10201.png</string>
            <key>size</key>
            <string>{1002,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1911b3e3a61663d01a9ef80983e01f4e:c6e6a4154bc0e7e5023aab971e526389:92440e539bbc389908062880239ec83c$</string>
            <key>textureFileName</key>
            <string>m_10201.png</string>
        </dict>
    </dict>
</plist>
