<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10302_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{74,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{156,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{238,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{320,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{402,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{484,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{566,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{648,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{730,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{812,283},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{0,380},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{82,380},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{164,380},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{246,380},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{414,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{487,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{560,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{633,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{706,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{779,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{852,93},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{0,188},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{73,188},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{146,188},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_behit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,95}</string>
                <key>spriteSourceSize</key>
                <string>{73,95}</string>
                <key>textureRect</key>
                <string>{{219,188},{73,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{120,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{192,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{264,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{336,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{408,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{480,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{552,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{624,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{696,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{768,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,202}</string>
                <key>spriteSourceSize</key>
                <string>{72,202}</string>
                <key>textureRect</key>
                <string>{{840,590},{72,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{328,380},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{448,380},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{568,380},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{688,380},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{808,380},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{0,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{120,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{240,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{360,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{480,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{600,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{720,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{840,485},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,105}</string>
                <key>spriteSourceSize</key>
                <string>{120,105}</string>
                <key>textureRect</key>
                <string>{{0,590},{120,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{69,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{138,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{207,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{276,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{345,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{414,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{483,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{552,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{621,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{690,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{759,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{828,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{897,0},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{0,93},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{69,93},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{138,93},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{207,93},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{276,93},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,93}</string>
                <key>spriteSourceSize</key>
                <string>{69,93}</string>
                <key>textureRect</key>
                <string>{{345,93},{69,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{292,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{366,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{440,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{514,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{588,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{662,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{736,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{810,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{884,188},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10302_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{0,283},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10302.png</string>
            <key>size</key>
            <string>{966,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36ea7845949b9fd28f89913ccec7929:40dfaeb417bfd692dc1f392a37633b6e:28a28b0b503ffef363dcbb785a719b63$</string>
            <key>textureFileName</key>
            <string>m_10302.png</string>
        </dict>
    </dict>
</plist>
