<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_10903_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{435,567},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{609,567},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{783,567},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{0,679},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{174,679},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{348,679},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{522,679},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{696,679},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{0,791},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{174,791},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{348,791},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{522,791},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{696,791},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,112}</string>
                <key>spriteSourceSize</key>
                <string>{174,112}</string>
                <key>textureRect</key>
                <string>{{0,903},{174,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{628,172},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{766,172},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{0,270},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{138,270},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{276,270},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{414,270},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{196,1451},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{349,1451},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{502,1451},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{655,1451},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{808,1451},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{0,1603},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{153,1603},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{306,1603},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{459,1603},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{612,1603},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{765,1603},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{174,903},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{370,903},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{566,903},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{762,903},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{0,1040},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{196,1040},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{392,1040},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{588,1040},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{784,1040},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{0,1177},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{196,1177},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{392,1177},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{588,1177},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{784,1177},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{0,1314},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{196,1314},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{392,1314},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{588,1314},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{784,1314},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{196,137}</string>
                <key>textureRect</key>
                <string>{{0,1451},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{552,270},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{697,270},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{842,270},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{0,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{145,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{290,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{435,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{580,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{725,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{870,369},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{0,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{145,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{290,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{435,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{580,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{725,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{870,468},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{0,567},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{145,567},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{290,567},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{157,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{314,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{471,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{628,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{785,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{0,86},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{157,86},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{314,86},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{471,86},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{628,86},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{785,86},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{0,172},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{157,172},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{314,172},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_10903_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{471,172},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10903.png</string>
            <key>size</key>
            <string>{1015,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5497083a08bfaeeb43b567542b1adfaf:a33fac4817053470f8518b2350a969a1:02ae23fd74bb8510e16df19030a7e539$</string>
            <key>textureFileName</key>
            <string>m_10903.png</string>
        </dict>
    </dict>
</plist>
