<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_11001_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{0,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{134,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{268,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{402,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{536,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{670,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{804,825},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{0,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{134,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{268,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{402,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{536,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{670,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{804,945},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{0,131},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{86,131},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{172,131},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{258,131},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{344,131},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{430,131},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{84,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{252,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{336,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{420,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{504,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{588,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{672,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{756,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,131}</string>
                <key>spriteSourceSize</key>
                <string>{84,131}</string>
                <key>textureRect</key>
                <string>{{840,0},{84,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{0,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{132,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{264,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{396,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{528,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{660,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{792,515},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{0,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{132,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{264,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{396,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{528,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{660,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{792,670},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{516,131},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{602,131},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{688,131},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{774,131},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{860,131},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{0,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{86,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{172,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{258,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{344,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{430,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{516,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{602,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{688,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{774,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{860,220},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{0,309},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{86,309},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{172,309},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{258,309},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{344,309},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{432,309},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{520,309},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{608,309},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{696,309},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{784,309},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{0,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{88,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{176,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{264,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{352,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{440,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{528,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{616,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{704,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_11001_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{792,412},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_11001.png</string>
            <key>size</key>
            <string>{946,1065}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bae6a393c85515496e3c3024a5e1d40:dfd04cb89166982bede8936ed553167c:ac936bc5b8b9a0209ebda0db4feba424$</string>
            <key>textureFileName</key>
            <string>m_11001.png</string>
        </dict>
    </dict>
</plist>
