<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21015_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{0,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{269,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{538,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{807,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{1076,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{1345,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{1614,0},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{0,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{269,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{538,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{807,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{1076,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{1345,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,278}</string>
                <key>spriteSourceSize</key>
                <string>{269,278}</string>
                <key>textureRect</key>
                <string>{{1614,278},{269,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{0,556},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{159,556},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{318,556},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{477,556},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{636,556},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{795,556},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{954,556},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{1142,556},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{1330,556},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{1518,556},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{0,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{188,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{376,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{564,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{752,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{940,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,236}</string>
                <key>spriteSourceSize</key>
                <string>{188,236}</string>
                <key>textureRect</key>
                <string>{{1128,792},{188,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1316,792},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1476,792},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1636,792},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{0,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{160,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{320,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{480,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{640,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{800,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{960,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1120,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1280,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1440,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{160,174}</string>
                <key>textureRect</key>
                <string>{{1600,1028},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{0,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{167,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{334,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{501,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{668,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{835,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1002,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1169,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1336,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1503,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1670,1202},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{0,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{167,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{334,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{501,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{668,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{835,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1002,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1169,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1336,1369},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1503,1369},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1683,1369},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{0,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{180,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{360,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{540,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{720,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{900,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1080,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1260,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1440,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1620,1540},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{0,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{180,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{360,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{540,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{720,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{900,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1080,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1260,1711},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21015.png</string>
            <key>size</key>
            <string>{1883,1882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5567a93b27f42966dc7bbd8d485a5c27:265f31578c820d1a63416d78db594868:1cc12ebc26ba442f41bce2ddfa554d50$</string>
            <key>textureFileName</key>
            <string>m_21015.png</string>
        </dict>
    </dict>
</plist>
