<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21022_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{710,659},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{856,659},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{0,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{146,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{292,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{438,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{584,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{730,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{876,787},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{0,886},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{146,886},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{292,886},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{438,886},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,97}</string>
                <key>spriteSourceSize</key>
                <string>{144,97}</string>
                <key>textureRect</key>
                <string>{{584,886},{144,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{508,180},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{636,180},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{764,180},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{892,180},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{0,270},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{128,270},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{128,531},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{270,531},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{412,531},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{554,531},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{696,531},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{838,531},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{0,659},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{142,659},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{284,659},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{426,659},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{568,659},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{127,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{254,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{381,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{508,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{635,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{762,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{889,0},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{0,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{127,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{254,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{381,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{508,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{635,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{762,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{889,90},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{0,180},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{127,180},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{254,180},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,88}</string>
                <key>spriteSourceSize</key>
                <string>{125,88}</string>
                <key>textureRect</key>
                <string>{{381,180},{125,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{256,270},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{384,270},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{512,270},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{640,270},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{768,270},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{0,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{128,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{256,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{384,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{512,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{640,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{768,357},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{0,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{128,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{256,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{384,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{512,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{640,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{768,444},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,85}</string>
                <key>spriteSourceSize</key>
                <string>{126,85}</string>
                <key>textureRect</key>
                <string>{{0,531},{126,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{730,886},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{876,886},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{0,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{146,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{292,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{438,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{584,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{730,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{876,985},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{0,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{146,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{292,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{438,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{584,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{730,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21022_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,92}</string>
                <key>spriteSourceSize</key>
                <string>{144,92}</string>
                <key>textureRect</key>
                <string>{{876,1079},{144,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21022.png</string>
            <key>size</key>
            <string>{1020,1171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d2fe1f85986f8a7d26731531725d445:44f50bf7070582bd5fab423aafc105c8:e3b4e488ce6ee437c23433b298755b87$</string>
            <key>textureFileName</key>
            <string>m_21022.png</string>
        </dict>
    </dict>
</plist>
