<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21017_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{0,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{254,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{508,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{762,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{1016,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{1270,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{1524,1350},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{0,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{254,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{508,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{762,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{1016,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{1270,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{1524,1535},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,134}</string>
                <key>textureRect</key>
                <string>{{186,0},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,134}</string>
                <key>textureRect</key>
                <string>{{372,0},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,134}</string>
                <key>textureRect</key>
                <string>{{558,0},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,134}</string>
                <key>textureRect</key>
                <string>{{744,0},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,134}</string>
                <key>textureRect</key>
                <string>{{930,0},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{438,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{649,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{860,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{1071,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{1282,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{1493,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{1704,614},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{0,800},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{211,800},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{422,800},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{211,186}</string>
                <key>textureRect</key>
                <string>{{633,800},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{844,800},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1090,800},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1336,800},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1582,800},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{0,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{246,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{492,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{738,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{984,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1230,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1476,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1722,986},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{0,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{246,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{492,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{738,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{984,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1230,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1476,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,182}</string>
                <key>spriteSourceSize</key>
                <string>{246,182}</string>
                <key>textureRect</key>
                <string>{{1722,1168},{246,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1116,0},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1312,0},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1508,0},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1704,0},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{0,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{196,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{392,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{588,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{784,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{980,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1176,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1372,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1568,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{1764,141},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{0,282},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{196,282},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{392,282},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{588,282},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{784,282},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{980,282},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1176,282},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1395,282},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1614,282},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{0,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{219,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{438,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{657,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{876,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1095,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1314,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1533,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{1752,448},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{0,614},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21017_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,166}</string>
                <key>spriteSourceSize</key>
                <string>{219,166}</string>
                <key>textureRect</key>
                <string>{{219,614},{219,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21017.png</string>
            <key>size</key>
            <string>{1971,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117084a05c1b246ba6b6399384c5d7fa:cc64f910d4ed20da53a9968df3a0bd53:a0fccf3be45884b38e5bf608372e6cfe$</string>
            <key>textureFileName</key>
            <string>m_21017.png</string>
        </dict>
    </dict>
</plist>
