<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21012_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{655,1372},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{818,1372},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{0,1560},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{163,1560},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{326,1560},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{489,1560},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{652,1560},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{815,1560},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{0,1715},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{163,1715},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{326,1715},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{489,1715},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{652,1715},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,155}</string>
                <key>spriteSourceSize</key>
                <string>{163,155}</string>
                <key>textureRect</key>
                <string>{{815,1715},{163,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,141}</string>
                <key>spriteSourceSize</key>
                <string>{123,141}</string>
                <key>textureRect</key>
                <string>{{480,284},{123,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,141}</string>
                <key>spriteSourceSize</key>
                <string>{123,141}</string>
                <key>textureRect</key>
                <string>{{603,284},{123,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,141}</string>
                <key>spriteSourceSize</key>
                <string>{123,141}</string>
                <key>textureRect</key>
                <string>{{726,284},{123,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,141}</string>
                <key>spriteSourceSize</key>
                <string>{123,141}</string>
                <key>textureRect</key>
                <string>{{849,284},{123,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,141}</string>
                <key>spriteSourceSize</key>
                <string>{123,141}</string>
                <key>textureRect</key>
                <string>{{0,426},{123,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,141}</string>
                <key>spriteSourceSize</key>
                <string>{123,141}</string>
                <key>textureRect</key>
                <string>{{123,426},{123,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{129,1184},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{260,1184},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{391,1184},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{522,1184},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{653,1184},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{784,1184},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{0,1372},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{131,1372},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{262,1372},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{393,1372},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,188}</string>
                <key>spriteSourceSize</key>
                <string>{131,188}</string>
                <key>textureRect</key>
                <string>{{524,1372},{131,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{375,710},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{504,710},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{633,710},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{762,710},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{891,710},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{0,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{129,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{258,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{387,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{516,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{645,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{774,868},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{0,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{129,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{258,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{387,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{516,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{645,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{774,1026},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{0,1184},{129,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{240,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{360,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{480,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{600,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{720,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{840,0},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{0,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{120,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{240,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{360,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{480,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{600,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{720,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{840,142},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{0,284},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{120,284},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{240,284},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{360,284},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{246,426},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{371,426},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{496,426},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{621,426},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{746,426},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{871,426},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{0,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{125,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{250,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{375,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{500,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{625,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{750,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{875,568},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{0,710},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{125,710},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21012_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,142}</string>
                <key>spriteSourceSize</key>
                <string>{125,142}</string>
                <key>textureRect</key>
                <string>{{250,710},{125,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21012.png</string>
            <key>size</key>
            <string>{1020,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b3d3372903e344190e5d06778e96089:c42ded27fe4c43d659ea3b0c4ce38fe4:1b51af17ec501575f2a5dfb56f987938$</string>
            <key>textureFileName</key>
            <string>m_21012.png</string>
        </dict>
    </dict>
</plist>
