<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21001_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{0,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{142,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{284,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{426,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{568,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{710,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{852,511},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{0,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{142,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{284,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{426,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{568,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{710,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{142,112}</string>
                <key>textureRect</key>
                <string>{{852,623},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{122,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{244,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{366,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{488,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{610,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{0,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{126,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{252,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{378,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{504,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{630,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{756,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{882,735},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{0,859},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{126,859},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{252,859},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{378,859},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{498,859},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{618,859},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{738,859},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{858,859},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{0,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{120,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{240,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{360,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{480,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{600,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{720,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{840,991},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{0,1123},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{120,1123},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{240,1123},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{360,1123},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{504,196},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{630,196},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{756,196},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{882,196},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{0,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{126,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{252,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{378,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{504,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{630,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{756,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{882,301},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{0,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{126,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{252,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{378,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{504,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{630,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{756,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{882,406},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{732,0},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{858,0},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{0,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{126,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{252,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{378,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{504,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{630,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{756,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{882,98},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{0,196},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{126,196},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{252,196},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21001_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{378,196},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21001.png</string>
            <key>size</key>
            <string>{1008,1255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90cc5f0701a61d1b13328d1a4f824c70:f8f270dda07f45e06623630c9ce58bfb:2e19b1f3f87a8af0a622226fe03cb551$</string>
            <key>textureFileName</key>
            <string>m_21001.png</string>
        </dict>
    </dict>
</plist>
