<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21015_2_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{0,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{264,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{528,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{792,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{1056,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{1320,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{1584,1060},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{0,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{264,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{528,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{792,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{1056,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{1320,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,263}</string>
                <key>spriteSourceSize</key>
                <string>{264,263}</string>
                <key>textureRect</key>
                <string>{{1584,1323},{264,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,169}</string>
                <key>spriteSourceSize</key>
                <string>{160,169}</string>
                <key>textureRect</key>
                <string>{{1503,167},{160,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,169}</string>
                <key>spriteSourceSize</key>
                <string>{160,169}</string>
                <key>textureRect</key>
                <string>{{1663,167},{160,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,169}</string>
                <key>spriteSourceSize</key>
                <string>{160,169}</string>
                <key>textureRect</key>
                <string>{{0,336},{160,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,169}</string>
                <key>spriteSourceSize</key>
                <string>{160,169}</string>
                <key>textureRect</key>
                <string>{{160,336},{160,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,169}</string>
                <key>spriteSourceSize</key>
                <string>{160,169}</string>
                <key>textureRect</key>
                <string>{{320,336},{160,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,169}</string>
                <key>spriteSourceSize</key>
                <string>{160,169}</string>
                <key>textureRect</key>
                <string>{{480,336},{160,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{540,678},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{768,678},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{996,678},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1224,678},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1452,678},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1680,678},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{0,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{228,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{456,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{684,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{912,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1140,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1368,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,191}</string>
                <key>spriteSourceSize</key>
                <string>{228,191}</string>
                <key>textureRect</key>
                <string>{{1596,869},{228,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{167,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{334,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{501,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{668,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{835,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1002,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1169,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1336,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1503,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1670,0},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{167,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{334,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{501,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{668,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{835,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1002,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1169,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1336,167},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{640,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{820,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1000,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1180,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1360,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1540,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1720,336},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{0,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{180,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{360,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{540,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{720,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{900,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1080,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1260,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1440,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{1620,507},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{0,678},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{180,678},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21015_2_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,171}</string>
                <key>spriteSourceSize</key>
                <string>{180,171}</string>
                <key>textureRect</key>
                <string>{{360,678},{180,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21015_2.png</string>
            <key>size</key>
            <string>{1908,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e0de5f80f37bcee053c6313fe8f0732:58ae58fa49e69f19791aa2fbfaec77a2:3f6a33f7b6d40b26860431b574df3e86$</string>
            <key>textureFileName</key>
            <string>m_21015_2.png</string>
        </dict>
    </dict>
</plist>
