<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21004_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{202,0},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{404,0},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{606,0},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{808,0},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{202,143},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{404,143},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{606,143},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{808,143},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{202,286},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{404,286},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,143}</string>
                <key>spriteSourceSize</key>
                <string>{202,143}</string>
                <key>textureRect</key>
                <string>{{606,286},{202,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{808,286},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{0,429},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{145,429},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{290,429},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{435,429},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{580,429},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{725,429},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{873,429},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{0,560},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{148,560},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{296,560},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{444,560},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{592,560},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{740,560},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{0,691},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{148,691},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,131}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{296,691},{148,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{444,691},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{665,691},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{0,832},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{221,832},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{442,832},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{663,832},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{0,973},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{221,973},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{442,973},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{663,973},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{0,1114},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{221,1114},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{442,1114},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{663,1114},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{0,1255},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{221,1255},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,141}</string>
                <key>spriteSourceSize</key>
                <string>{221,141}</string>
                <key>textureRect</key>
                <string>{{442,1255},{221,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{663,1255},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{808,1255},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{0,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{145,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{290,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{435,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{580,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{725,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{870,1396},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{0,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{145,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{290,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{435,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{580,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{725,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{870,1505},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{0,1614},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{145,1614},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{290,1614},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,109}</string>
                <key>spriteSourceSize</key>
                <string>{145,109}</string>
                <key>textureRect</key>
                <string>{{435,1614},{145,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{580,1614},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{739,1614},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{0,1737},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{159,1737},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{318,1737},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{477,1737},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{636,1737},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{795,1737},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{0,1860},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{159,1860},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{318,1860},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{477,1860},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{636,1860},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21004_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,123}</string>
                <key>spriteSourceSize</key>
                <string>{159,123}</string>
                <key>textureRect</key>
                <string>{{795,1860},{159,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21004.png</string>
            <key>size</key>
            <string>{1021,1983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c096f970cbb606346cc3685064371517:a7a863c56e998760dc48c932b287868f:d0a0989b6d851f813ec78f39f3484a56$</string>
            <key>textureFileName</key>
            <string>m_21004.png</string>
        </dict>
    </dict>
</plist>
