<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21013_2_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{0,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{257,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{514,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{771,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{1028,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{1285,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{1542,0},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{0,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{257,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{514,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{771,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{1028,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{1285,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,228}</string>
                <key>spriteSourceSize</key>
                <string>{257,228}</string>
                <key>textureRect</key>
                <string>{{1542,228},{257,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,231}</string>
                <key>spriteSourceSize</key>
                <string>{165,231}</string>
                <key>textureRect</key>
                <string>{{0,916},{165,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,231}</string>
                <key>spriteSourceSize</key>
                <string>{165,231}</string>
                <key>textureRect</key>
                <string>{{165,916},{165,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,231}</string>
                <key>spriteSourceSize</key>
                <string>{165,231}</string>
                <key>textureRect</key>
                <string>{{330,916},{165,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,231}</string>
                <key>spriteSourceSize</key>
                <string>{165,231}</string>
                <key>textureRect</key>
                <string>{{495,916},{165,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,231}</string>
                <key>spriteSourceSize</key>
                <string>{165,231}</string>
                <key>textureRect</key>
                <string>{{660,916},{165,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,231}</string>
                <key>spriteSourceSize</key>
                <string>{165,231}</string>
                <key>textureRect</key>
                <string>{{825,916},{165,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{0,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{177,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{354,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{531,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{708,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{885,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{1062,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{1239,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{1416,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{1593,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,279}</string>
                <key>spriteSourceSize</key>
                <string>{177,279}</string>
                <key>textureRect</key>
                <string>{{1770,1654},{177,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{990,916},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1212,916},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1434,916},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1656,916},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{0,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{222,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{444,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{666,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{888,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1110,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1332,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1554,1162},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{0,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{222,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{444,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{666,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{888,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1110,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1332,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,246}</string>
                <key>spriteSourceSize</key>
                <string>{222,246}</string>
                <key>textureRect</key>
                <string>{{1554,1408},{222,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{0,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{185,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{370,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{555,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{740,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{925,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1110,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1295,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1480,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1665,456},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{0,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{185,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{370,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{555,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{740,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{925,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1110,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1295,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1480,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,230}</string>
                <key>textureRect</key>
                <string>{{1665,686},{185,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21013_2.png</string>
            <key>size</key>
            <string>{1947,1933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:908b4eca6d7083f37ea7dd71271b72cf:1ffd98d6641b56bed08ed8c0ed07ce59:46e8e0a3695f3f25cd93d4b6c2bb08d0$</string>
            <key>textureFileName</key>
            <string>m_21013_2.png</string>
        </dict>
    </dict>
</plist>
