<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21013_2_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{0,0},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{175,0},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{350,0},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{525,0},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{700,0},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{0,222},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{175,222},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{350,222},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{525,222},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{700,222},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{0,444},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{175,444},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{350,444},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{525,444},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{700,444},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{0,666},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{175,666},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{350,666},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{525,666},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21013_2_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,222}</string>
                <key>spriteSourceSize</key>
                <string>{175,222}</string>
                <key>textureRect</key>
                <string>{{700,666},{175,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21013_3.png</string>
            <key>size</key>
            <string>{875,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f566f6886dbbdfa56a6781abdaf93455:86a40a2696b42888bdf40f7c467dcc8f:6736372876404b9aec6473c825a538f1$</string>
            <key>textureFileName</key>
            <string>m_21013_3.png</string>
        </dict>
    </dict>
</plist>
