<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21007_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{240,399},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{363,399},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{486,399},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{609,399},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{732,399},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{855,399},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{0,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{123,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{246,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{369,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{492,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{615,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{738,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,135}</string>
                <key>spriteSourceSize</key>
                <string>{123,135}</string>
                <key>textureRect</key>
                <string>{{861,534},{123,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,133}</string>
                <key>spriteSourceSize</key>
                <string>{122,133}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,133}</string>
                <key>spriteSourceSize</key>
                <string>{122,133}</string>
                <key>textureRect</key>
                <string>{{122,0},{122,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,133}</string>
                <key>spriteSourceSize</key>
                <string>{122,133}</string>
                <key>textureRect</key>
                <string>{{244,0},{122,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,133}</string>
                <key>spriteSourceSize</key>
                <string>{122,133}</string>
                <key>textureRect</key>
                <string>{{366,0},{122,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,133}</string>
                <key>spriteSourceSize</key>
                <string>{122,133}</string>
                <key>textureRect</key>
                <string>{{488,0},{122,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,133}</string>
                <key>spriteSourceSize</key>
                <string>{122,133}</string>
                <key>textureRect</key>
                <string>{{610,0},{122,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{488,963},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{621,963},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{754,963},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{887,963},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{0,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{133,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{266,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{399,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{532,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{665,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,193}</string>
                <key>spriteSourceSize</key>
                <string>{133,193}</string>
                <key>textureRect</key>
                <string>{{798,1156},{133,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{0,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{122,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{244,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{366,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{488,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{610,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{732,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{854,669},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{0,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{122,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{244,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{366,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{488,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{610,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{732,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{854,816},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{0,963},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{122,963},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{244,963},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_dead_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,147}</string>
                <key>spriteSourceSize</key>
                <string>{122,147}</string>
                <key>textureRect</key>
                <string>{{366,963},{122,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{732,0},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{852,0},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{0,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{120,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{240,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{360,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{480,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{600,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{720,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{840,133},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{0,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{120,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{240,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{360,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{480,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{600,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{720,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{840,266},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{0,399},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21007_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{120,399},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21007.png</string>
            <key>size</key>
            <string>{1020,1349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c31374584f27efe82f203334926f73fa:45d6ec929aa951f278a8407b3f92ed9f:be749281a1b0de2b5a23001598280f2f$</string>
            <key>textureFileName</key>
            <string>m_21007.png</string>
        </dict>
    </dict>
</plist>
