<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21008_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{917,433},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{1141,433},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{1365,433},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{1589,433},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{0,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{224,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{448,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{672,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{896,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{1120,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{1344,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{1568,621},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{0,809},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{224,809},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{1240,142},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{1375,142},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{1510,142},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{1645,142},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{1780,142},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{0,286},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{448,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{636,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{824,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{1012,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{1200,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{1388,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{1576,809},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{0,1017},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{188,1017},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{376,1017},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,208}</string>
                <key>spriteSourceSize</key>
                <string>{188,208}</string>
                <key>textureRect</key>
                <string>{{564,1017},{188,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{752,1017},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1135,1017},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1518,1017},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{0,1272},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{383,1272},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{766,1272},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1149,1272},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1532,1272},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{0,1527},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{383,1527},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{766,1527},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1149,1527},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1532,1527},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{0,1782},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{383,1782},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{766,1782},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1149,1782},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,255}</string>
                <key>spriteSourceSize</key>
                <string>{383,255}</string>
                <key>textureRect</key>
                <string>{{1532,1782},{383,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{155,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{310,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{465,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{620,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{775,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{930,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1085,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1240,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1395,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1550,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1705,0},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{0,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{155,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{310,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{465,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{620,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{775,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{930,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1085,142},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{135,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{266,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{397,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{528,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{659,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{790,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{921,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{1052,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{1183,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{1314,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{1445,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{1576,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{1707,286},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{0,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{131,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{262,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{393,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{524,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{655,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21008_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,147}</string>
                <key>spriteSourceSize</key>
                <string>{131,147}</string>
                <key>textureRect</key>
                <string>{{786,433},{131,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21008.png</string>
            <key>size</key>
            <string>{1915,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f51b9fa1112a59d4560a6f3ba2d380d:9f309661b69fc5204f38b7f5b33ea188:66528c9bb938451bd7c98d7f368f1205$</string>
            <key>textureFileName</key>
            <string>m_21008.png</string>
        </dict>
    </dict>
</plist>
