<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21006_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{705,1249},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{0,1437},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{192,1437},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{384,1437},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{576,1437},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{768,1437},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{0,1592},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{192,1592},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{384,1592},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{576,1592},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{768,1592},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{0,1747},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{192,1747},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,155}</string>
                <key>spriteSourceSize</key>
                <string>{192,155}</string>
                <key>textureRect</key>
                <string>{{384,1747},{192,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{264,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{396,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{528,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{660,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{0,1061},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{141,1061},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{282,1061},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{423,1061},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{564,1061},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{705,1061},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{0,1249},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{141,1249},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{282,1249},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{423,1249},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,188}</string>
                <key>spriteSourceSize</key>
                <string>{141,188}</string>
                <key>textureRect</key>
                <string>{{564,1249},{141,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{665,393},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{0,560},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{156,560},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{312,560},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{468,560},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{624,560},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{780,560},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{0,727},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{156,727},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{312,727},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{468,727},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{624,727},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{780,727},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{0,894},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{156,894},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{312,894},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{468,894},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{624,894},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_dead_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,167}</string>
                <key>spriteSourceSize</key>
                <string>{156,167}</string>
                <key>textureRect</key>
                <string>{{780,894},{156,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{792,0},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{0,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{133,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{266,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{399,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{532,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{665,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{798,131},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{0,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{133,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{266,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{399,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{532,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{665,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{798,262},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{0,393},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{133,393},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{266,393},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{399,393},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21006_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,131}</string>
                <key>spriteSourceSize</key>
                <string>{133,131}</string>
                <key>textureRect</key>
                <string>{{532,393},{133,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21006.png</string>
            <key>size</key>
            <string>{960,1902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:210d140fa26fa0d32b0be7f13e62defd:da38377e6d077489066651bacf07808d:bb2cf3060cb445cab3a776ff53bd2719$</string>
            <key>textureFileName</key>
            <string>m_21006.png</string>
        </dict>
    </dict>
</plist>
