<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m_21014_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{116,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{227,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{338,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{449,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{560,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{671,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{782,246},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{0,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{111,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{222,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{333,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{444,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{555,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,90}</string>
                <key>textureRect</key>
                <string>{{666,336},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_behit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_behit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_behit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{200,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_behit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{300,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_behit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{400,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_behit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{500,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{354,592},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{478,592},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{602,592},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{726,592},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{0,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{124,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{248,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{372,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{496,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{620,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_born_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,96}</string>
                <key>spriteSourceSize</key>
                <string>{124,96}</string>
                <key>textureRect</key>
                <string>{{744,688},{124,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{0,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{136,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{272,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{408,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{544,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{680,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{816,784},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{0,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{136,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{272,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{408,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{544,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{680,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_dead_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{816,888},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{777,336},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{0,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{118,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{236,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{354,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{472,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{590,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{708,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{826,426},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{0,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{118,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{236,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{354,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{472,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{590,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{708,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{826,509},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{0,592},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{118,592},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,83}</string>
                <key>spriteSourceSize</key>
                <string>{118,83}</string>
                <key>textureRect</key>
                <string>{{236,592},{118,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{600,0},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{716,0},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{832,0},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{116,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{232,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{348,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{464,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{580,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{696,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{812,82},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{0,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{116,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{232,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{348,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{464,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{580,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{696,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{812,164},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m_21014_move_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,82}</string>
                <key>spriteSourceSize</key>
                <string>{116,82}</string>
                <key>textureRect</key>
                <string>{{0,246},{116,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_21014.png</string>
            <key>size</key>
            <string>{952,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26c52188432e67a2aa8a97316940cbb2:c4f3109d58bbbbbb081b4d8e04767d61:58d28b49a4e1a1ba1bb2763e42d8aa99$</string>
            <key>textureFileName</key>
            <string>m_21014.png</string>
        </dict>
    </dict>
</plist>
