<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiong_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{113,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{225,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{337,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{113,79},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{225,79},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{337,79},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{1,157},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{113,157},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{225,157},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{337,157},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{1,235},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{113,235},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{110,76}</string>
                <key>textureRect</key>
                <string>{{225,235},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_xiong.png</string>
            <key>size</key>
            <string>{448,312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c449c57d40b156e5656592aa9a35a32:4b8ca6746face20ea4cd2f44f2ce0cf4:b15d69888902670e10c76c22211952f5$</string>
            <key>textureFileName</key>
            <string>buff_xiong.png</string>
        </dict>
    </dict>
</plist>
