<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{81,1},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{161,1},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{1,76},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{81,76},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{161,76},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{1,151},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{81,151},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{161,151},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{1,226},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{81,226},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{161,226},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{1,301},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{81,301},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>niao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{161,301},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_niao.png</string>
            <key>size</key>
            <string>{240,375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93de72968d297a25b94596fbb8cb673c:14f996d48122cf3ed283d7296ebcd709:7eced32551652d90ded8775134e2546b$</string>
            <key>textureFileName</key>
            <string>buff_niao.png</string>
        </dict>
    </dict>
</plist>
