<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiansu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{96,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{191,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{286,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{381,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{476,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{571,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{666,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{761,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{856,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{951,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{1046,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{1141,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{1236,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,86}</string>
                <key>spriteSourceSize</key>
                <string>{93,86}</string>
                <key>textureRect</key>
                <string>{{1331,1},{93,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiansu.png</string>
            <key>size</key>
            <string>{1425,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf6cb27828d030c6269e5bd545fc609:827e7ecd64c3886b2ec0826e0c4faca3:6a44ac97d1a2471f4f6a100d296ee6e5$</string>
            <key>textureFileName</key>
            <string>jiansu.png</string>
        </dict>
    </dict>
</plist>
