<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiasu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,45},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,89},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,133},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,177},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,221},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,265},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,309},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,353},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,397},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,441},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,485},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,529},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1,573},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiasu.png</string>
            <key>size</key>
            <string>{28,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a44f4424c41c6c8d379985a08b4e3f54:571f6be5e3708c56b99653e26a078b46:f90a1f66dc16fcb66e4651685e79304c$</string>
            <key>textureFileName</key>
            <string>jiasu.png</string>
        </dict>
    </dict>
</plist>
