<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxue_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1,96},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{80,1},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1,191},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{80,96},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{159,1},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1,286},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{80,191},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{159,96},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{1,381},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{80,286},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{159,191},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{80,381},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{159,286},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxue_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,93}</string>
                <key>spriteSourceSize</key>
                <string>{77,93}</string>
                <key>textureRect</key>
                <string>{{159,381},{77,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiaxue.png</string>
            <key>size</key>
            <string>{237,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd378b656ca5ab0e3c816d56cad074d:18d9eaec28271a98e3d4350b2e157c7d:45c9a0b4751b12d84788e5ea1a19f34e$</string>
            <key>textureFileName</key>
            <string>jiaxue.png</string>
        </dict>
    </dict>
</plist>
