<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuangbao_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuangbao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{154,1},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuangbao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{307,1},{151,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuangbao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuangbao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{154,153},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuangbao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{307,154},{151,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kuangbao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuangbao_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{154,305},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kuangbao.png</string>
            <key>size</key>
            <string>{458,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:198e3841c276a4477b32152249b43665:7dd795e13d6db38b6b653339ee76811e:6b15a98dcc0e26f6ad89659c600c8a3f$</string>
            <key>textureFileName</key>
            <string>kuangbao.png</string>
        </dict>
    </dict>
</plist>
