<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>langren_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>langren_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{113,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>langren_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{225,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>langren_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{337,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>langren_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{449,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>langren_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{561,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>langren_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{673,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiong_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,82}</string>
                <key>spriteSourceSize</key>
                <string>{110,82}</string>
                <key>textureRect</key>
                <string>{{785,1},{110,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>langren.png</string>
            <key>size</key>
            <string>{896,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9054e10fa432bcb258b5b7ff2def585:9117c4163ff00c470bd5b577578dce0f:c20e2424130a80e3544c0e3b08da8648$</string>
            <key>textureFileName</key>
            <string>langren.png</string>
        </dict>
    </dict>
</plist>
