<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manghe_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manghe_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{165,1},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manghe_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{329,1},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manghe_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{493,1},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manghe_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{657,1},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manghe_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,163}</string>
                <key>spriteSourceSize</key>
                <string>{162,163}</string>
                <key>textureRect</key>
                <string>{{821,1},{162,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>manghe.png</string>
            <key>size</key>
            <string>{984,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a513b0eee9855a8677aabb31105311f0:615b8e3bc2236044b60c601ec9cec6e1:25a2844f39f67972dca5ed52f23c1028$</string>
            <key>textureFileName</key>
            <string>manghe.png</string>
        </dict>
    </dict>
</plist>
