<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingwang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingwang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingwang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mingwang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{1,143},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingwang_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{153,143},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingwang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{305,153},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mingwang_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{1,285},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mingwang_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,140}</string>
                <key>textureRect</key>
                <string>{{153,285},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mingwang.png</string>
            <key>size</key>
            <string>{446,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b2716883bdd8f1ed4ffa26d0b02455c:ee667fb5008a3b3a9c7a7d50858c6c6c:40efbef67dfcdf7059c43b70134a5377$</string>
            <key>textureFileName</key>
            <string>mingwang.png</string>
        </dict>
    </dict>
</plist>
