<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wang_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{101,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{201,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{301,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{401,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{501,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{601,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{701,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{801,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{901,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1001,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1101,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1201,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1301,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wang_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{1401,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wang.png</string>
            <key>size</key>
            <string>{1500,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e5bce498a6f767cdfa68217a268a0c:1310a31417986b2967ee7207a4bc98f2:ad5e67dd95f649c27105dd484288dd27$</string>
            <key>textureFileName</key>
            <string>wang.png</string>
        </dict>
    </dict>
</plist>
