<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuren1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,157},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,235},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,313},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,391},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{54,76}</string>
                <key>textureRect</key>
                <string>{{1,469},{54,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuren2.png</string>
            <key>size</key>
            <string>{56,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b109db9f01998625f38d9e91025f7c04:54b259a7c7a250022cb2db7b4fb231af:867a845426981cb37ff5c89cd7681217$</string>
            <key>textureFileName</key>
            <string>yuren2.png</string>
        </dict>
    </dict>
</plist>
