<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuren2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{64,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{127,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{190,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{253,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{316,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{379,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuren2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{442,1},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuren1.png</string>
            <key>size</key>
            <string>{504,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aabb5559f8a3539da50a238e264b01d:0618a152ab3621c119139c57f3e9385e:e10dc6e02ac3632c33ffa1d8474e4a75$</string>
            <key>textureFileName</key>
            <string>yuren1.png</string>
        </dict>
    </dict>
</plist>
