<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feed_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{0,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{119,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{238,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{357,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{476,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{595,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{714,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{833,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{952,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1071,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1190,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1309,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1428,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1547,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1666,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1785,0},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{0,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{119,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{238,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{357,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{476,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{595,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{714,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{833,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{952,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1071,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1190,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1309,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1428,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,210}</string>
                <key>spriteSourceSize</key>
                <string>{119,210}</string>
                <key>textureRect</key>
                <string>{{1547,210},{119,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1666,210},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{0,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{142,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{284,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{426,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{568,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{710,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{852,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{994,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1136,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1278,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1420,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1562,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1704,435},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{0,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{142,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{284,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{426,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{568,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{710,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{852,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{994,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1136,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1278,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1420,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1562,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1704,660},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{0,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{142,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{284,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{426,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{568,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{710,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{852,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{994,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1136,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1278,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1420,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1562,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,225}</string>
                <key>spriteSourceSize</key>
                <string>{142,225}</string>
                <key>textureRect</key>
                <string>{{1704,885},{142,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>produce.png</string>
            <key>size</key>
            <string>{1904,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cd2150840e6ff9970948ba9a2e4b9d8:808c69f754ad253853ad067e83bde5da:065e3ff31962569fc211a4d34ad84cc0$</string>
            <key>textureFileName</key>
            <string>produce.png</string>
        </dict>
    </dict>
</plist>
