<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{0,0},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{406,0},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{0,397},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{406,397},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{0,794},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{406,794},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{0,1191},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ss_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,397}</string>
                <key>spriteSourceSize</key>
                <string>{406,397}</string>
                <key>textureRect</key>
                <string>{{406,1191},{406,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_charge2.png</string>
            <key>size</key>
            <string>{812,1588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6eb8aa7c40a37efe07f4467267ac263:80c1e1618cf8c4ac303e2ec42f179426:862fb3d1803275cdc0e045efd7dcb727$</string>
            <key>textureFileName</key>
            <string>hero_common_charge2.png</string>
        </dict>
    </dict>
</plist>
