<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodian_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baodian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{130,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baodian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{259,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baodian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{388,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baodian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{517,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baodian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{646,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baodian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,118}</string>
                <key>spriteSourceSize</key>
                <string>{127,118}</string>
                <key>textureRect</key>
                <string>{{775,1},{127,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuelun_hit.png</string>
            <key>size</key>
            <string>{903,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646568df615161ae206b5244600ae813:3fc36360d1a1ba00f12da66fb867daeb:5356d2ddcb8b5cf8755a63f63792bd7c$</string>
            <key>textureFileName</key>
            <string>yuelun_hit.png</string>
        </dict>
    </dict>
</plist>
