<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_monster_lx-effect_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{256,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{384,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{512,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{640,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{768,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{896,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1024,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1152,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1280,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1408,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1536,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1664,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1792,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1920,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{0,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{128,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{256,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{384,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{512,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{640,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{768,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{896,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1024,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1152,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1280,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1408,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1536,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1664,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1792,105},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atkup_effect.png</string>
            <key>size</key>
            <string>{2048,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed25d480dcc4ef4b39acaec5805ec7bf:569d15e9e314a3d92d0a2187d128fca6:7471e407e9bdb1807851ece2706fa602$</string>
            <key>textureFileName</key>
            <string>atkup_effect.png</string>
        </dict>
    </dict>
</plist>
