<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_monster_lx-effect_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{81,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{162,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{243,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{324,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{405,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{486,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{567,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{648,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{729,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{810,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{891,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{972,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1053,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1134,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1215,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1296,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1377,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1458,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1539,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1620,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1701,0},{81,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blooding_effect.png</string>
            <key>size</key>
            <string>{1782,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:750c3b0ced6ba76f43e4a8fec9d58cfb:64a5a2a33332765fbd5231b9205c97ce:3866bdafc9ca21415fbd83aeade40200$</string>
            <key>textureFileName</key>
            <string>blooding_effect.png</string>
        </dict>
    </dict>
</plist>
