<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damageup_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{113,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{226,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{339,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{452,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{565,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{678,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{791,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{904,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1017,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1130,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1243,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1356,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1469,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageup_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,112}</string>
                <key>spriteSourceSize</key>
                <string>{113,112}</string>
                <key>textureRect</key>
                <string>{{1582,0},{113,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>damageup_effect.png</string>
            <key>size</key>
            <string>{1695,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae456d2b31776d5206bf85d525056c35:c0ec423ea8c29f8acf7368f229b6fcbc:c0397a6d3321d113407f8f1ce49e4818$</string>
            <key>textureFileName</key>
            <string>damageup_effect.png</string>
        </dict>
    </dict>
</plist>
