<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hud1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,125},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,250},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,375},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,500},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,625},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,750},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,875},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1000},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1125},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1250},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1375},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1500},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1625},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hud1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{0,1750},{206,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4301_effect.png</string>
            <key>size</key>
            <string>{206,1875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71e36f985647bca66777d2eb8f3599fe:60b6793570eb6cc9bf7ed5080344dd0e:e36d6b6c6a85052a85fc01226a6ad01b$</string>
            <key>textureFileName</key>
            <string>hero_4301_effect.png</string>
        </dict>
    </dict>
</plist>
