<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,540},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,540},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,648},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,648},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,756},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,756},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,864},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,864},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,972},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,972},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,1080},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,108},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,216},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,216},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,324},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,324},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{0,432},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,108}</string>
                <key>textureRect</key>
                <string>{{128,432},{128,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_common_defencedown.png</string>
            <key>size</key>
            <string>{256,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b1c6596a2aba5ae4b1efa0f6da3be17:fe5b501b743580d1ff9c8e344bea48a9:8dddc83d0bea3b1984c51421ad85d2fc$</string>
            <key>textureFileName</key>
            <string>hero_common_defencedown.png</string>
        </dict>
    </dict>
</plist>
