<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc001_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1600,0},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{0,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{200,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{400,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{600,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{800,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1000,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1200,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1400,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1600,250},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{0,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{200,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{400,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{600,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{800,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1000,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1200,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc001_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,250}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1400,500},{200,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_heal_1.png</string>
            <key>size</key>
            <string>{1800,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f7f1063d7af6223daab96df33db6eca:84a961e99016f8b6d0571d29754eebcc:4789f2f1ee30529327ac47b994c6efdb$</string>
            <key>textureFileName</key>
            <string>hero_heal_1.png</string>
        </dict>
    </dict>
</plist>
