<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wudi_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{367,178},{161,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wudi_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,131}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{1,581},{165,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,135}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{1,444},{169,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,139}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{371,1},{175,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wudi_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,143}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{1,299},{181,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{179,143}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{186,150},{179,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,147}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,147}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{1,150},{183,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,147}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{186,295},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{349,341},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{184,424},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{347,470},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{172,553},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,127}</string>
                <key>spriteSourceSize</key>
                <string>{183,147}</string>
                <key>textureRect</key>
                <string>{{335,599},{161,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>immune_effect.png</string>
            <key>size</key>
            <string>{511,727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a131abce8dc23d6e4151e2d7be3ae9b:f19bdef2ea581c982464471a4b7d4e4c:2374b89478c5ac66e5474dde03a33825$</string>
            <key>textureFileName</key>
            <string>immune_effect.png</string>
        </dict>
    </dict>
</plist>
