<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hero_cz-effect_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,95},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,95},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,190},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,190},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,285},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,285},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,380},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,380},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,475},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,475},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,570},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,570},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,665},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,665},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,760},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,760},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,855},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,855},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,950},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,950},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,1045},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,1045},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,1140},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,1140},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,1235},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,1235},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{0,1330},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_cz-effect_idle_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,95}</string>
                <key>textureRect</key>
                <string>{{180,1330},{180,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>invincible_effect.png</string>
            <key>size</key>
            <string>{360,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e8df4af115fc77d51ae07c7ed648b0:10ecc6cfaaa57e17839aed23af9657fb:ea6e66873333d7874659e1b47393c5f5$</string>
            <key>textureFileName</key>
            <string>invincible_effect.png</string>
        </dict>
    </dict>
</plist>
