<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc003_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,300},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,600},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,900},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{300,1200},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc003_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{600,1200},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31009_buff.png</string>
            <key>size</key>
            <string>{900,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a7b325c0c4682c81d8db612c75c3fd:1550fb43a6148096f97a140b85abfade:edf63d5b7861b40e12f32399a03f8ea5$</string>
            <key>textureFileName</key>
            <string>m_31009_buff.png</string>
        </dict>
    </dict>
</plist>
