<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shenqi 3 Comp 1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{246,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{492,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{738,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{984,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1230,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1476,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1722,0},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{0,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{246,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{492,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{738,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{984,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1230,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shenqi 3 Comp 1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1476,145},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_31016_buff.png</string>
            <key>size</key>
            <string>{1966,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7fc6230cfc80335449c0e89162d4e9e:42c778d613744249218a2c15ac6750e6:4d172987ebedb044bbb24e9cdc3cffec$</string>
            <key>textureFileName</key>
            <string>m_31016_buff.png</string>
        </dict>
    </dict>
</plist>
