<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiantou_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{0,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{203,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{406,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{609,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{812,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1015,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1218,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1421,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1624,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1827,0},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{0,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{203,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{406,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{609,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{812,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1015,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1218,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1421,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1624,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1827,177},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{0,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{203,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{406,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{609,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{812,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1015,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1218,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1421,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1624,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1827,354},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{0,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{203,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{406,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{609,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{812,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1015,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1218,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1421,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1624,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1827,531},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{0,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{203,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{406,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{609,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{812,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1015,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1218,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1421,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1624,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1827,708},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{0,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{203,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{406,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{609,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{812,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1015,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1218,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1421,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1624,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiantou_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,177}</string>
                <key>spriteSourceSize</key>
                <string>{203,177}</string>
                <key>textureRect</key>
                <string>{{1827,885},{203,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_32003_buff_2.png</string>
            <key>size</key>
            <string>{2030,1062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e6b88823b2702f12a8a025dfcbbd2a:2b8ba4f69f8b1857410656c30fd128c7:489ecbf3cc2f60c01ff3dff1ff56e0b4$</string>
            <key>textureFileName</key>
            <string>m_32003_buff_2.png</string>
        </dict>
    </dict>
</plist>
