<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuzhong-tu3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{86,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{172,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{258,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{344,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{430,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{516,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{602,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{688,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{774,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{860,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{946,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1032,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1118,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1204,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1290,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1376,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1462,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1548,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{1634,0},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star_3.png</string>
            <key>size</key>
            <string>{1720,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b919cb08cf6d2163a5cb9ad838e0eed7:e87190099c22472f1a1c4d33c8630350:6ed54a06debeab1fbe5e962ebe738e01$</string>
            <key>textureFileName</key>
            <string>star_3.png</string>
        </dict>
    </dict>
</plist>
