<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuzhong-tu3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,0},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,0},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,77},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,77},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,77},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,154},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,154},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,154},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,231},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,231},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,231},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,308},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,308},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,308},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,385},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,385},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,385},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,462},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,462},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,462},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,539},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,539},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,539},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,616},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,616},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,616},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{0,693},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{138,693},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuzhong-tu3_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,77}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{276,693},{138,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star_4.png</string>
            <key>size</key>
            <string>{414,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bef220dd00b6c293f2a27ec52bbefec8:9d981b547370493dcb088dfbde326087:e499642f16058e6ab22cc33db60704c8$</string>
            <key>textureFileName</key>
            <string>star_4.png</string>
        </dict>
    </dict>
</plist>
