body {
    background-color: #d0e4fe;
}
h1 {
    color:orange;
    text-align:center
}
/*font-family : 字体*/
p {
    font-family: "Times New Roman";
    font-size:20px;
}
/*id选择器 可以为标有特定id的HTML元素指定特定的样式。HTML元素以id属性来设置id选择器，CSS中id选择器以"#"来定义*/
#para1{
    text-align: center;
    color:red;
}
/*class选择器 在CSS中，类选择器以一个点‘.’号来显示*/
.center {
    text-align:center;
}