<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shou-animation_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{202,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{202,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{404,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{606,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{808,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1010,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1212,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1414,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1616,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1818,256},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{404,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{606,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{808,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1010,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1212,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1414,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1616,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou-animation_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,256}</string>
                <key>spriteSourceSize</key>
                <string>{202,256}</string>
                <key>textureRect</key>
                <string>{{1818,0},{202,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_guide.png</string>
            <key>size</key>
            <string>{2020,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:407bf7a315eedb5096d74025507f7b97:20351eb12669333e63db2a4098d82ce8:e212e237905d552e81f81fa3bcbfea4a$</string>
            <key>textureFileName</key>
            <string>player_guide.png</string>
        </dict>
    </dict>
</plist>
