<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuansong100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{1,825},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuansong88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{84,136}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{141,1023},{84,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{1,1023},{86,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{92,136}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{279,997},{92,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{142,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{199,853},{142,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{215,1},{204,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuansong94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{1,207},{204,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{215,215},{204,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuansong96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{1,413},{204,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{215,429},{204,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuansong98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,212}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{1,619},{204,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chuansong99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{204,212}</string>
                <key>textureRect</key>
                <string>{{215,643},{202,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chuansong2.png</string>
            <key>size</key>
            <string>{420,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72acac27c618a256a1a48cd50276d63a:3aa39369d964f28b18131985fbff0100:297f52e8d282c51280eaf069d3b42f4b$</string>
            <key>textureFileName</key>
            <string>chuansong2.png</string>
        </dict>
    </dict>
</plist>
