<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daozidan_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-1}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{385,1},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daozidan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{80,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{85,1},{80,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daozidan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daozidan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{167,1},{72,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daozidan_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{241,1},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daozidan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{126,42}</string>
                <key>textureRect</key>
                <string>{{313,1},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dao.png</string>
            <key>size</key>
            <string>{430,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a06c0192f10bbacc2b27ae45852b43:b61a9827fee620a71944d8c6a9ad86a7:3f913e76af83ac8194392f3903c2e962$</string>
            <key>textureFileName</key>
            <string>dao.png</string>
        </dict>
    </dict>
</plist>
