<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gutou_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gutou_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{33,1},{37,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gutou_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{96,1},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{131,1},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{65,1},{29,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gutou.png</string>
            <key>size</key>
            <string>{165,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56fe07df596450cc8c16c477fcbda2e:56260e313f237b4929d7663f0c9acfb6:41bbb965ed1e81e2c814e358c1323ce4$</string>
            <key>textureFileName</key>
            <string>gutou.png</string>
        </dict>
    </dict>
</plist>
