<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>du1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,0},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,144},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,144},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,288},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,288},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,432},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,432},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,576},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,576},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,720},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,720},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,864},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{217,864},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,144}</string>
                <key>spriteSourceSize</key>
                <string>{217,144}</string>
                <key>textureRect</key>
                <string>{{0,1008},{217,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4101_behit_2.png</string>
            <key>size</key>
            <string>{434,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd0d744f827def4a1cbafb9bb3d1159:5bf2e6dc6fe45107b260bc1c136bc077:a731531d91b850a90957dbb51238fcaa$</string>
            <key>textureFileName</key>
            <string>hero_4101_behit_2.png</string>
        </dict>
    </dict>
</plist>
