<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>du1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,0},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,0},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,141},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,141},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,282},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,282},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,423},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,423},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,564},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,564},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,705},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,705},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,846},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{207,846},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>du1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,141}</string>
                <key>spriteSourceSize</key>
                <string>{207,141}</string>
                <key>textureRect</key>
                <string>{{0,987},{207,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_4101_behit_4.png</string>
            <key>size</key>
            <string>{414,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f44b7b826ee99e1c619b00d63f140e8:e32de44097c6dcb36976f70baf242fe7:cb63b03b507335a10918cd5beb155268$</string>
            <key>textureFileName</key>
            <string>hero_4101_behit_4.png</string>
        </dict>
    </dict>
</plist>
