<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hero_dxzs-effect_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{0,0},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{378,0},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{756,0},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1134,0},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1512,0},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{0,378},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{378,378},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{756,378},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1134,378},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1512,378},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{0,756},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{378,756},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{756,756},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_hero_dxzs-effect_idle_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,378}</string>
                <key>spriteSourceSize</key>
                <string>{378,378}</string>
                <key>textureRect</key>
                <string>{{1134,756},{378,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light_effect.png</string>
            <key>size</key>
            <string>{1890,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a30faadd67798431ca601372ffaf5c:f76e44b1d54e28960d188ed370203e53:01b399cc39bf642cb8c50df6cdbf668c$</string>
            <key>textureFileName</key>
            <string>light_effect.png</string>
        </dict>
    </dict>
</plist>
