<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_monster_lx-effect_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,99},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,198},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,297},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,396},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,495},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,594},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,693},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,792},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,891},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,990},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,1089},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,1188},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_monster_lx-effect_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,99}</string>
                <key>spriteSourceSize</key>
                <string>{355,99}</string>
                <key>textureRect</key>
                <string>{{0,1287},{355,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weak_effect.png</string>
            <key>size</key>
            <string>{355,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d046837a869957568323fffef4d9fa9:dbee918e654a0f310df26e3c1d60201b:4e8842decfa1ecf9645e766724505e78$</string>
            <key>textureFileName</key>
            <string>weak_effect.png</string>
        </dict>
    </dict>
</plist>
